n8n/workflows/hrbot-5min-reminder-cron.json
{
  "updatedAt": "2026-06-23T19:10:36.221Z",
  "createdAt": "2026-06-22T22:03:35.478Z",
  "id": "tmYeLQNa0nAuMoEW",
  "name": "HRBot — 5-Min Reminder Cron",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "cron-5min",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "secrets-node",
      "name": "Secrets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        460,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sb-url",
              "name": "supabase_url",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "sb-key",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "process-node",
      "name": "Process Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const sbUrl = $('Secrets').item.json.supabase_url;\nconst sbKey  = $('Secrets').item.json.supabase_key;\nconst appSecret = 'CONFIGURE_APP_SECRET';\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst now = new Date().toISOString();\n\nlet due;\ntry {\n  due = await helpers.httpRequest({\n    method: 'GET',\n    url: sbUrl + '/rest/v1/bot_reminders?fire_at=lte.' + now + '&sent=eq.false&select=*&limit=50',\n    headers: sbHeaders\n  });\n} catch(e) {\n  console.error('fetch reminders failed:', e.message);\n  return [{ json: { processed: 0, error: e.message } }];\n}\n\nconst reminders = Array.isArray(due) ? due : [];\nif (!reminders.length) return [{ json: { processed: 0 } }];\n\nconst vercelBase = 'https://whatsapp-hrbot.vercel.app';\nconst authHeader = { Authorization: 'Bearer ' + appSecret, 'Content-Type': 'application/json' };\nconst results = [];\n\nfor (const r of reminders) {\n  try {\n    if (r.type === 'task') {\n      await helpers.httpRequest({\n        method: 'POST',\n        url: vercelBase + '/api/reminders/task',\n        headers: authHeader,\n        body: JSON.stringify({\n          task_id:            r.task_id,\n          reminder:           r.task_reminder,\n          scheduled_deadline: r.scheduled_deadline,\n          scheduled_due_time: r.scheduled_due_time,\n        })\n      });\n    } else {\n      await helpers.httpRequest({\n        method: 'POST',\n        url: vercelBase + '/api/reminders/custom',\n        headers: authHeader,\n        body: JSON.stringify({\n          wa_number:       r.wa_number,\n          message:         r.custom_message,\n          organization_id: r.organization_id,\n          user_id:         r.user_id,\n        })\n      });\n    }\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/bot_reminders?id=eq.' + r.id,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ sent: true, sent_at: new Date().toISOString() })\n    });\n    results.push({ id: r.id, type: r.type, status: 'sent' });\n  } catch(e) {\n    results.push({ id: r.id, type: r.type, status: 'error', error: e.message });\n  }\n}\n\nreturn [{ json: { processed: results.length, results } }];"
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secrets": {
      "main": [
        [
          {
            "node": "Process Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every 5 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "a6f4005c-6ec2-44bf-8982-1d25248dc835",
  "activeVersionId": "a6f4005c-6ec2-44bf-8982-1d25248dc835",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-22T22:03:35.478Z",
      "createdAt": "2026-06-22T22:03:35.478Z",
      "role": "workflow:owner",
      "workflowId": "tmYeLQNa0nAuMoEW",
      "projectId": "yMgzkpwLQ6KqgTd4",
      "project": {
        "updatedAt": "2026-06-22T10:50:50.919Z",
        "createdAt": "2026-06-22T10:41:33.061Z",
        "id": "yMgzkpwLQ6KqgTd4",
        "name": "Rahul Matharu <matharurahul1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T19:10:36.309Z",
    "createdAt": "2026-06-23T19:10:36.309Z",
    "versionId": "a6f4005c-6ec2-44bf-8982-1d25248dc835",
    "workflowId": "tmYeLQNa0nAuMoEW",
    "nodes": [
      {
        "id": "cron-5min",
        "name": "Every 5 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/5 * * * *"
              }
            ]
          }
        }
      },
      {
        "id": "secrets-node",
        "name": "Secrets",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [
          460,
          300
        ],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "sb-url",
                "name": "supabase_url",
                "value": "={{ $env.SUPABASE_URL }}",
                "type": "string"
              },
              {
                "id": "sb-key",
                "name": "supabase_key",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "process-node",
        "name": "Process Reminders",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "jsCode": "const sbUrl = $('Secrets').item.json.supabase_url;\nconst sbKey  = $('Secrets').item.json.supabase_key;\nconst appSecret = 'CONFIGURE_APP_SECRET';\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst now = new Date().toISOString();\n\nlet due;\ntry {\n  due = await helpers.httpRequest({\n    method: 'GET',\n    url: sbUrl + '/rest/v1/bot_reminders?fire_at=lte.' + now + '&sent=eq.false&select=*&limit=50',\n    headers: sbHeaders\n  });\n} catch(e) {\n  console.error('fetch reminders failed:', e.message);\n  return [{ json: { processed: 0, error: e.message } }];\n}\n\nconst reminders = Array.isArray(due) ? due : [];\nif (!reminders.length) return [{ json: { processed: 0 } }];\n\nconst vercelBase = 'https://whatsapp-hrbot.vercel.app';\nconst authHeader = { Authorization: 'Bearer ' + appSecret, 'Content-Type': 'application/json' };\nconst results = [];\n\nfor (const r of reminders) {\n  try {\n    if (r.type === 'task') {\n      await helpers.httpRequest({\n        method: 'POST',\n        url: vercelBase + '/api/reminders/task',\n        headers: authHeader,\n        body: JSON.stringify({\n          task_id:            r.task_id,\n          reminder:           r.task_reminder,\n          scheduled_deadline: r.scheduled_deadline,\n          scheduled_due_time: r.scheduled_due_time,\n        })\n      });\n    } else {\n      await helpers.httpRequest({\n        method: 'POST',\n        url: vercelBase + '/api/reminders/custom',\n        headers: authHeader,\n        body: JSON.stringify({\n          wa_number:       r.wa_number,\n          message:         r.custom_message,\n          organization_id: r.organization_id,\n          user_id:         r.user_id,\n        })\n      });\n    }\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/bot_reminders?id=eq.' + r.id,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ sent: true, sent_at: new Date().toISOString() })\n    });\n    results.push({ id: r.id, type: r.type, status: 'sent' });\n  } catch(e) {\n    results.push({ id: r.id, type: r.type, status: 'error', error: e.message });\n  }\n}\n\nreturn [{ json: { processed: results.length, results } }];"
        }
      }
    ],
    "connections": {
      "Every 5 Minutes": {
        "main": [
          [
            {
              "node": "Secrets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Secrets": {
        "main": [
          [
            {
              "node": "Process Reminders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Rahul Matharu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T19:10:37.668Z",
        "id": 106,
        "workflowId": "tmYeLQNa0nAuMoEW",
        "versionId": "a6f4005c-6ec2-44bf-8982-1d25248dc835",
        "event": "deactivated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      },
      {
        "createdAt": "2026-06-23T19:10:38.427Z",
        "id": 107,
        "workflowId": "tmYeLQNa0nAuMoEW",
        "versionId": "a6f4005c-6ec2-44bf-8982-1d25248dc835",
        "event": "activated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    ]
  }
}