n8n/workflows/wa-inbound-router.json
{
  "name": "HRBot — WA Inbound Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-inbound",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-wa-trigger",
      "name": "WA Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Next.js forwards: { from, message, org_id }\nconst body = $input.first().json.body ?? $input.first().json;\nconst from  = body.from;\nconst msg   = body.message;\nconst orgId = body.org_id;\n\nif (!from || !msg || !orgId) {\n  throw new Error('Missing fields: ' + JSON.stringify({ from, msg, orgId }));\n}\n\nreturn [{ json: { from, message: msg, org_id: orgId } }];"
      },
      "id": "node-parse",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_APP_URL }}/api/agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.APP_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"message\": \"{{ $json.message }}\", \"wa_number\": \"{{ $json.from }}\", \"org_id\": \"{{ $json.org_id }}\" }",
        "options": { "timeout": 30000 }
      },
      "id": "node-agent",
      "name": "Call AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "WA Webhook Trigger": {
      "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
    },
    "Parse Payload": {
      "main": [[{ "node": "Call AI Agent", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all" }
}
