n8n workflow files/hrbot-wa-inbound-ai-agent.json
{
  "updatedAt": "2026-06-24T19:11:59.822Z",
  "createdAt": "2026-06-22T11:06:09.643Z",
  "id": "NZsKomyCVzVMHqxp",
  "name": "HRBot - WA Inbound AI Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "4bff5e1f-1244-4a53-be2a-fc952eeb89f7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-immediately",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst from    = String(body.from ?? '').replace(/^\\+/, '');\nconst message = String(body.message ?? '').trim();\nconst orgId   = String(body.org_id ?? '');\nif (!from || !message || !orgId) throw new Error('Missing fields: ' + JSON.stringify({ from, message, orgId }));\nconst isAudio = String(body.is_audio ?? 'false');\nreturn [{ json: { from, message, org_id: orgId, is_audio: isAudio } }];"
      },
      "id": "parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?wa_number=eq.{{ $json.from }}&organization_id=eq.{{ $json.org_id }}&select=id,full_name,role,wa_number,organization_id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-user",
      "name": "Fetch User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions?wa_number=eq.{{ $('Parse Payload').item.json.from }}&select=messages&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Parse Payload').first().json; const userArr = $('Fetch User').first().json; const user = Array.isArray(userArr) ? userArr[0] : userArr; const histArr = $('Fetch History').first().json; const session = Array.isArray(histArr) ? histArr[0] : histArr; const history = session?.messages ?? []; const today = new Date().toLocaleDateString('en-IN', { timeZone:'Asia/Kolkata', weekday:'long', day:'numeric', month:'long', year:'numeric' }); const time = new Date().toLocaleTimeString('en-IN', { timeZone:'Asia/Kolkata', hour:'2-digit', minute:'2-digit' }); const name = user?.full_name ?? 'there'; const firstName = name.split(' ')[0]; const msg = payload.message.trim(); const isGreeting = /^(hi+|hello+|hey+|hj+|hii+|sup|yo|good\\s*(morning|evening|afternoon)|namaste|hola)[\\s!?.]*$/i.test(msg); const systemPrompt = isGreeting ? 'You are HRBot. The user greeted you. DO NOT call any tools. Reply with ONLY: Hello ' + firstName + '! I am *HRBot*, your AI HR assistant.\\n\\n*What I can help you with:*\\n- *Tasks* - list, create, update tasks\\n- *Attendance* - check in/out, history\\n- *Leaves* - balance, apply leave\\n- *Daily briefing* - today summary\\n- *Team attendance* - admin only\\n\\nWhat would you like to do?' : 'You are HRBot, an AI HR assistant for WhatsApp. Today is ' + today + ', ' + time + ' IST.\\n\\nUser: ' + name + ' | Role: ' + (user?.role ?? 'employee') + ' | OrgID: ' + payload.org_id + ' | UserID: ' + (user?.id ?? '')+'\\n\\nRules:\\n- Always reply in WhatsApp-friendly format (use *bold*, bullet points)\\n- For task creation: call create_task immediately once you have title + assignee. Do NOT ask for a second confirmation\\n- Keep replies concise\\n- Convert natural language dates to YYYY-MM-DD\\n- Priority: low/medium/high/urgent | Status: todo/in_progress/done/cancelled\\n- When listing tasks use *bullet points*, format deadline as \"24 Jun 2026\" (NOT YYYY-MM-DD), append due time as \"at 11:00 AM\" if set\\n- Interactive reply IDs (appear in history as user messages): yes_confirm=confirmed proceed, no_cancel=cancelled, field_title/assignee/deadline/priority/status=field chosen, priority_low/medium/high/urgent=priority chosen, status_todo/in_progress/done/cancelled=status chosen. Use these to understand conversation context and reconstruct the pending action.'; return [{ json: { from: payload.from, message: payload.message, chatInput: payload.message, org_id: payload.org_id, user_id: user?.id ?? '', user_name: firstName, user_role: user?.role ?? 'employee', history: JSON.stringify(history.slice(-10)), system_prompt: systemPrompt, is_greeting: isGreeting, is_audio: payload.is_audio ?? 'false' } }];"
      },
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "﻿const ctx      = $('Build Context').item.json;\nconst userId   = ctx.user_id;\nconst orgId    = ctx.org_id;\nconst userRole = ctx.user_role ?? 'employee';\nconst isAdmin  = userRole !== 'employee';\nconst isAudio  = String(ctx.is_audio ?? 'false') === 'true';\n\n// ─── Interactive button/list reply pre-processing ────────────────────────────\n// WhatsApp sends button/list reply as the item's ID string.\n// Some IDs we handle immediately (return list/buttons without calling LLM).\n// Others we translate to human-readable text so the LLM understands context.\n\nconst FIELD_LIST = [{ title: 'What to change?', rows: [\n  { id: 'field_title',    title: 'Title',    description: 'Change the task name' },\n  { id: 'field_assignee', title: 'Assignee', description: 'Assign to someone else' },\n  { id: 'field_deadline', title: 'Deadline', description: 'Change the due date' },\n  { id: 'field_priority', title: 'Priority', description: 'Low / Medium / High / Urgent' },\n  { id: 'field_status',   title: 'Status',   description: 'To Do / In Progress / Done / Cancelled' }\n]}];\n\nconst PRIORITY_LIST = [{ title: 'Priority', rows: [\n  { id: 'priority_low',    title: '🟢 Low' },\n  { id: 'priority_medium', title: '🟡 Medium' },\n  { id: 'priority_high',   title: '🟠 High' },\n  { id: 'priority_urgent', title: '🔴 Urgent' }\n]}];\n\nconst STATUS_LIST = [{ title: 'Status', rows: [\n  { id: 'status_todo',        title: '📋 To Do' },\n  { id: 'status_in_progress', title: '⏳ In Progress' },\n  { id: 'status_done',        title: '✅ Done' },\n  { id: 'status_cancelled',   title: '❌ Cancelled' }\n]}];\n\n// IDs that short-circuit — return interactive UI immediately, no LLM call\nconst SHORTCUT_MAP = {\n  'no_cancel':      { output: 'What would you like to change?', listItems: FIELD_LIST, listButtonLabel: 'Choose field' },\n  'field_priority': { output: 'Choose the priority:', listItems: PRIORITY_LIST, listButtonLabel: 'Choose priority' },\n  'field_status':   { output: 'Choose the status:', listItems: STATUS_LIST, listButtonLabel: 'Choose status' },\n  'field_title':    { output: '✏️ What should the new title be? Please type it.' },\n  'field_assignee': { output: '👤 Who should this be assigned to? Please type their name.' },\n  'field_deadline': { output: '📅 What should the new deadline be? (e.g. \"tomorrow\", \"25 Jun 2026\")' },\n};\n\n// IDs that need LLM — translate to human text first\nconst BUTTON_ID_MAP = {\n  'yes_confirm':        'Yes, please proceed with the action.',\n  'priority_low':       'Set priority to: low',\n  'priority_medium':    'Set priority to: medium',\n  'priority_high':      'Set priority to: high',\n  'priority_urgent':    'Set priority to: urgent',\n  'status_todo':        'Set status to: todo',\n  'status_in_progress': 'Set status to: in_progress',\n  'status_done':        'Set status to: done',\n  'status_cancelled':   'Set status to: cancelled',\n};\n\nconst rawMsg = ctx.message;\n\nif (SHORTCUT_MAP[rawMsg] !== undefined) {\n  return [{ json: SHORTCUT_MAP[rawMsg] }];\n}\n\nconst isButtonReply    = BUTTON_ID_MAP[rawMsg] !== undefined;\nconst effectiveMessage = isButtonReply ? BUTTON_ID_MAP[rawMsg] : rawMsg;\n\nconst isGreeting = String(ctx.is_greeting) === 'true';\nconst groqKey  = $('Secrets').item.json.groq_key;\nconst groqKey2 = $('Secrets').item.json.groq_key_2 || '';\nconst groqKey3 = $('Secrets').item.json.groq_key_3 || '';\nconst orKey    = $('Secrets').item.json.openrouter_key || '';\nconst sbUrl    = $('Secrets').item.json.supabase_url;\nconst sbKey    = $('Secrets').item.json.supabase_key;\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'list_tasks',\n      description: isAdmin\n        ? 'List active tasks. Pass assignee_name to filter by a specific team member, or omit for all org tasks.'\n        : 'List YOUR OWN active tasks. Employees cannot see other people\\'s tasks.',\n      parameters: {\n        type: 'object',\n        properties: isAdmin ? {\n          assignee_name: { type: 'string', description: 'Filter by team member name (optional, admin/manager only)' }\n        } : {}\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'create_task',\n      description: 'Create a BRAND NEW task that does not exist yet. NEVER use this to reassign, update, or modify an existing task — use update_task for that. Before calling, ask for: title (required), assignee_name (ask who to assign to — if not specified, leave blank and it defaults to the current user), deadline and priority (both optional).',\n      parameters: {\n        type: 'object',\n        properties: {\n          title:         { type: 'string' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD only (no time component). Pass null if user did NOT explicitly provide a date or deadline. NEVER invent or assume a deadline.' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to assign to (admin can assign to others)' }\n        },\n        required: ['title']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'update_task',\n      description: 'Update or reassign an EXISTING task. Use this for status changes, deadline changes, priority changes, AND reassigning the task to someone else (via assignee_name). Identify the task with task_id (UUID) OR task_title (the exact title). If the task was just created in this conversation, use task_title with the title that was confirmed.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:       { type: 'string', description: 'UUID of the task (preferred, from list_tasks)' },\n          task_title:    { type: 'string', description: 'Exact title of the task (use if task_id unknown)' },\n          status:        { type: 'string', enum: ['todo','in_progress','done','cancelled'] },\n          title:         { type: 'string', description: 'New title for the task' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD only (preferred) or YYYY-MM-DDTHH:MM:SS if user gave an explicit time. If user gives ONLY a date, pass YYYY-MM-DD — do NOT add a time from memory, history, or the task current deadline. If user asks to update deadline/due time but did NOT say what the new value is in the current message, do NOT call this tool — ask the user for the new deadline first.' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to reassign the task to' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_in',\n      description: 'Record attendance check-in for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_out',\n      description: 'Record attendance check-out for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_leave_balance',\n      description: 'Get remaining leave balance for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'apply_leave',\n      description: 'Submit a leave request. Ask user for leave type, dates, and reason first.',\n      parameters: {\n        type: 'object',\n        properties: {\n          leave_type_id: { type: 'string', description: 'UUID of leave type (get from check_leave_balance)' },\n          start_date:    { type: 'string', description: 'YYYY-MM-DD' },\n          end_date:      { type: 'string', description: 'YYYY-MM-DD' },\n          reason:        { type: 'string' }\n        },\n        required: ['leave_type_id','start_date','end_date']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'list_leaves',\n      description: 'List recent leave requests for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'daily_briefing',\n      description: 'Get today briefing: pending tasks, attendance status, leave balance.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'my_attendance',\n      description: 'Fetch attendance log for the current user this month.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  ...(isAdmin ? [\n    {\n      type: 'function',\n      function: {\n        name: 'team_attendance',\n        description: 'Fetch today attendance for the whole team. Admin/manager only.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'list_pending_leaves',\n        description: 'List all pending leave requests awaiting admin/manager review.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'approve_leave_request',\n        description: 'Approve a pending leave request. Always confirm with the user before calling.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id: { type: 'string', description: 'UUID of the leave request (from list_pending_leaves)' }\n          },\n          required: ['leave_id']\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'reject_leave_request',\n        description: 'Reject a pending leave request with a reason.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id:         { type: 'string', description: 'UUID of the leave request' },\n            rejection_reason: { type: 'string', description: 'Reason for rejection' }\n          },\n          required: ['leave_id','rejection_reason']\n        }\n      }\n    }\n  ] : []),\n  {\n    type: 'function',\n    function: {\n      name: 'delete_task',\n      description: 'Permanently delete a task. Use ONLY when user explicitly asks to delete/remove a task. Always confirm with the user before calling.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:    { type: 'string', description: 'UUID of the task (preferred)' },\n          task_title: { type: 'string', description: 'Exact title of the task (use if task_id unknown)' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'help',\n      description: 'Get list of supported commands.',\n      parameters: { type: 'object', properties: {} }\n    }\n  }\n];\n\nasync function runTool(name, args) {\n  const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n  const now   = new Date().toISOString();\n\n  if (name === 'list_tasks') {\n    if (!isAdmin && args.assignee_name) {\n      return { denied: true, message: \"🚫 You don't have permission to view other people's tasks. Type *my tasks* to see your own.\" };\n    }\n    let userFilter = isAdmin ? '' : '&assignee_id=eq.' + userId;\n    if (isAdmin && args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent('%' + args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) userFilter = '&assignee_id=eq.' + users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/tasks?status=not.in.(done,cancelled)&deleted_at=is.null&organization_id=eq.' + orgId +\n           userFilter + '&select=id,title,deadline,due_time,priority,status,assignee:users!tasks_assignee_id_fkey(full_name)' +\n           '&order=deadline.asc.nullslast&limit=30',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'create_task') {\n    let assigneeId        = userId;\n    let assigneeFirstName = ctx.user_name;\n    let assigneeWa        = null;\n    if (args.assignee_name && args.assignee_name.trim()) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name,wa_number&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) {\n        assigneeId        = users[0].id;\n        assigneeFirstName = users[0].full_name.split(' ')[0];\n        assigneeWa        = users[0].wa_number;\n      } else {\n        return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n      }\n    }\n    const created = await helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/tasks',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        title: args.title,\n        deadline: args.deadline ? args.deadline.split('T')[0] : null,\n        priority: args.priority ?? 'medium',\n        organization_id: orgId,\n        assignee_id: assigneeId,\n        created_by: userId,\n        status: 'todo',\n        source: 'whatsapp'\n      })\n    });\n    // Instantly notify assignee if task was assigned to someone else\n    if (assigneeId !== userId && assigneeWa) {\n      const pEmoji   = { urgent: '🔴', high: '🟠', medium: '🟡', low: '🟢' }[args.priority ?? 'medium'] ?? '⚪';\n      const dlLabel  = args.deadline\n        ? new Date(args.deadline).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', day: 'numeric', month: 'short', year: 'numeric' })\n        : null;\n      const notifMsg =\n        '📋 *Hi ' + assigneeFirstName + ', you have a new task!*\\n\\n' +\n        '*' + args.title + '*\\n\\n' +\n        pEmoji + ' Priority: *' + (args.priority ?? 'medium') + '*\\n' +\n        (dlLabel ? '🗓 Deadline: *' + dlLabel + '*\\n' : '') +\n        '👤 Assigned by: *' + ctx.user_name + '*\\n\\n' +\n        'Reply *my tasks* to view all your pending tasks.';\n      try {\n        await helpers.httpRequest({\n          method: 'POST',\n          url: 'https://whatsapp-hrbot.vercel.app/api/wa/send',\n          headers: { Authorization: 'Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK', 'Content-Type': 'application/json' },\n          body: JSON.stringify({ to: assigneeWa, text: notifMsg, organization_id: orgId })\n        });\n      } catch(e) { /* don't let notification failure block task creation */ }\n    }\n    return created;\n  }\n\n  if (name === 'update_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title.' };\n\n    const patch = {};\n    if (args.status)   patch.status   = args.status;\n    if (args.title)    patch.title    = args.title;\n    if (args.priority) patch.priority = args.priority;\n    if (args.deadline) {\n      // If date-only (YYYY-MM-DD), store just the date and clear any stored time\n      if (/^\\d{4}-\\d{2}-\\d{2}$/.test(args.deadline)) {\n        patch.deadline = args.deadline;\n        patch.due_time = null;\n      } else if (/^\\d{4}-\\d{2}-\\d{2}T/.test(args.deadline)) {\n        patch.deadline = args.deadline.split('T')[0];\n        const tp = args.deadline.split('T')[1];\n        patch.due_time = tp ? tp.slice(0, 8) : null;\n      } else {\n        patch.deadline = args.deadline;\n      }\n    }\n    if (args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) patch.assignee_id = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    if (Object.keys(patch).length === 0) return { error: 'Nothing to update.' };\n\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify(patch)\n    });\n  }\n\n\n  if (name === 'delete_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title to delete.' };\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({ deleted_at: new Date().toISOString() })\n    });\n    return { success: true, message: 'Task deleted successfully.' };\n  }\n\n  if (name === 'check_in') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const nowISO   = new Date().toISOString();\n    const existing = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n           '&select=id,check_in_time,check_out_time',\n      headers: sbHeaders\n    });\n    if (Array.isArray(existing) && existing.length > 0) {\n      const cinFmt = new Date(existing[0].check_in_time).toLocaleTimeString('en-IN',\n        { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n      return { already_checked_in: true, check_in_time: cinFmt,\n               message: 'You already checked in today at ' + cinFmt + '.' };\n    }\n    const inserted = await helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/attendance_records',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        organization_id: orgId,\n        employee_id:     userId,\n        date:            todayIST,\n        check_in_time:   nowISO,\n        status:          'present',\n        source:          'whatsapp'\n      })\n    });\n    const cinFmt = new Date(nowISO).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    const dateFmt = new Date(nowISO).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', day: 'numeric', month: 'short', year: 'numeric' });\n    return { success: true, check_in_time: cinFmt, date: dateFmt,\n             message: 'Checked in at ' + cinFmt };\n  }\n\n  if (name === 'check_out') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const nowISO   = new Date().toISOString();\n    const records  = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n           '&select=id,check_in_time,check_out_time',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(records) || records.length === 0) {\n      return { error: \"You haven't checked in today yet. Reply *checkin* to check in first.\" };\n    }\n    const record = records[0];\n    if (record.check_out_time) {\n      const coutFmt = new Date(record.check_out_time).toLocaleTimeString('en-IN',\n        { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n      return { already_checked_out: true, check_out_time: coutFmt,\n               message: 'You already checked out today at ' + coutFmt + '.' };\n    }\n    const cinFmt = new Date(record.check_in_time).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/attendance_records?id=eq.' + record.id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({ check_out_time: nowISO })\n    });\n    // Compute duration\n    const minsDiff = Math.round((new Date(nowISO) - new Date(record.check_in_time)) / 60000);\n    const hrs  = Math.floor(minsDiff / 60);\n    const mins = minsDiff % 60;\n    const duration = hrs > 0 ? hrs + 'h ' + mins + 'm' : mins + 'm';\n    const coutFmt2 = new Date(nowISO).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    return {\n      success:        true,\n      check_in_time:  cinFmt,\n      check_out_time: coutFmt2,\n      duration,\n      message: 'Checked out at ' + coutFmt2 + '. You worked for ' + duration + ' today (checked in at ' + cinFmt + ').'\n    };\n  }\n\n  if (name === 'check_leave_balance') {\n    const balanceRows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=id,remaining_days,entitled_days,used_days,leave_type_id,leave_type:leave_types(id,name)',\n      headers: sbHeaders\n    });\n    if (Array.isArray(balanceRows) && balanceRows.length > 0) return balanceRows;\n    // No balance rows: fall back to org leave types (user can still apply, balance tracked separately)\n    const leaveTypes = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_types?organization_id=eq.' + orgId + '&select=id,name,default_days',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(leaveTypes) || leaveTypes.length === 0) {\n      return { message: 'No leave types configured for your organisation. Contact HR.' };\n    }\n    return leaveTypes.map(function(lt) {\n      return { leave_type_id: lt.id, remaining_days: lt.default_days, entitled_days: lt.default_days, used_days: 0, leave_type: { id: lt.id, name: lt.name } };\n    });\n  }\n\n  if (name === 'apply_leave') {\n    const startD = new Date(args.start_date);\n    const endD   = new Date(args.end_date);\n    if (endD < startD) return { error: 'End date cannot be before start date.' };\n    const durDays = Math.round((endD - startD) / 86400000) + 1;\n    return helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/leave_requests',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        organization_id: orgId,\n        employee_id:     userId,\n        leave_type_id:   args.leave_type_id,\n        start_date:      args.start_date,\n        end_date:        args.end_date,\n        duration_days:   durDays,\n        reason:          args.reason || '',\n        status:          'pending'\n      })\n    });\n  }\n\n  if (name === 'list_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=start_date,end_date,duration_days,status,reason,leave_type:leave_types(name)' +\n           '&order=created_at.desc&limit=10',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'daily_briefing') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const [tasks, attendance, balance] = await Promise.all([\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?assignee_id=eq.' + userId + '&organization_id=eq.' + orgId +\n             '&status=not.in.(done,cancelled)&deleted_at=is.null' +\n             '&select=title,deadline,priority&order=deadline.asc.nullslast&limit=5',\n        headers: sbHeaders\n      }),\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n             '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n             '&select=check_in_time,check_out_time,status',\n        headers: sbHeaders\n      }),\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n             '&organization_id=eq.' + orgId +\n             '&select=remaining_days,leave_type:leave_types(name)',\n        headers: sbHeaders\n      })\n    ]);\n    function toIST(iso) {\n      if (!iso) return null;\n      return new Date(iso).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    }\n    function fmtDate(d) {\n      if (!d) return null;\n      return new Date(d + 'T00:00:00').toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n    }\n    const att = Array.isArray(attendance) && attendance.length > 0 ? attendance[0] : null;\n    return {\n      today: new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }),\n      pending_tasks: Array.isArray(tasks) ? tasks.map(function(t) {\n        return { title: t.title, deadline: fmtDate(t.deadline), priority: t.priority };\n      }) : [],\n      attendance_today: att ? {\n        status: att.status || 'present',\n        checked_in: att.check_in_time ? 'Yes, at ' + toIST(att.check_in_time) + ' IST' : 'Not yet',\n        checked_out: att.check_out_time ? 'Yes, at ' + toIST(att.check_out_time) + ' IST' : 'Not yet'\n      } : { status: 'absent', checked_in: 'Not yet', checked_out: 'Not yet' },\n      leave_balance: Array.isArray(balance) ? balance.map(function(l) {\n        return { leave_type: l.leave_type ? l.leave_type.name : 'Leave', remaining_days: l.remaining_days };\n      }) : []\n    };\n  }\n\n  if (name === 'my_attendance') {\n    const monthStart = new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().split('T')[0];\n    const rows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&date=gte.' + monthStart +\n           '&select=date,check_in_time,check_out_time,status&order=date.desc&limit=31',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(rows)) return rows;\n    return rows.map(function(r) {\n      const d = r.date ? new Date(r.date + 'T00:00:00').toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' }) : null;\n      const ci = r.check_in_time  ? new Date(r.check_in_time).toLocaleTimeString('en-IN',  { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }) + ' IST' : null;\n      const co = r.check_out_time ? new Date(r.check_out_time).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }) + ' IST' : null;\n      return { date: d, check_in_time: ci, check_out_time: co, status: r.status };\n    });\n  }\n\n  if (name === 'team_attendance') {\n    const rows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?organization_id=eq.' + orgId +\n           '&date=eq.' + today +\n           '&select=status,check_in_time,check_out_time,employee:users(full_name,role)' +\n           '&order=check_in_time.asc',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(rows)) return rows;\n    return rows.map(function(r) {\n      function toIST(iso) {\n        if (!iso) return null;\n        return new Date(iso).toLocaleTimeString('en-IN', {\n          timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit'\n        }) + ' IST';\n      }\n      return {\n        name:          r.employee ? r.employee.full_name : 'Unknown',\n        status:        r.status,\n        check_in_time: toIST(r.check_in_time),\n        check_out_time: toIST(r.check_out_time)\n      };\n    });\n  }\n\n  if (name === 'list_pending_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?status=eq.pending&organization_id=eq.' + orgId +\n           '&select=id,employee:users!leave_requests_employee_id_fkey(full_name),' +\n           'leave_type:leave_types(name),start_date,end_date,duration_days,reason' +\n           '&order=created_at.asc',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'approve_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'approved', reviewed_by: userId, reviewed_at: now })\n    });\n  }\n\n  if (name === 'reject_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'rejected', reviewed_by: userId, reviewed_at: now, rejection_reason: args.rejection_reason })\n    });\n  }\n\n  if (name === 'help') {\n    const adminCmds = isAdmin ? [\n      'team attendance', 'pending leaves', 'approve leave <id>', 'reject leave <id>'\n    ] : [];\n    return {\n      commands: [\n        'list my tasks','create a task','update task status',\n        'check in','check out','my attendance',\n        'leave balance','apply leave','list leaves','daily briefing',\n        ...adminCmds\n      ]\n    };\n  }\n\n  return { error: 'Unknown tool: ' + name };\n}\n\nconst history = JSON.parse(ctx.history || '[]');\nconst taskRules = '\\n\\n*Task rules:*\\n- To REASSIGN or UPDATE an existing task → always use update_task (with task_title or task_id). NEVER call create_task for an existing task.\\n- To create a BRAND NEW task → ask for title + assignee. Deadline and priority optional. Once you have title + assignee (or confirmed defaults to current user), call create_task immediately — no JSON block, no extra confirmation.\\n- If a previous message said a task was \"not found\", try update_task with task_title anyway before giving up.\\n- Task list display: use *bullet points*, format dates as \"24 Jun 2026\" (never YYYY-MM-DD), show due time as \"at 11:00 AM\" if available.\\n- NO TASK RULE: If user says \"update task\" / \"change task\" / \"update a task\" with NO task name at all, ask: \"*Which task would you like to update?*\" FIRST — before asking what to change.\\n- VAGUE UPDATE RULE: If user names a specific task but gives NO new field or value (no title/deadline/priority/status/assignee in the message), ask: \"What would you like to update?\" with options: Title, Assignee, Deadline, Priority, Status.\\n- MISSING VALUE RULE: If the user specifies WHICH field to update but gives NO new value in the CURRENT message, ask for the new value BEFORE calling update_task. This applies to ALL patterns: \"update the due time\", \"change the due time\", \"update due date\", \"change the priority of X\", \"update the title of X\", \"change the status\", AND \"update [taskname] [fieldname]\" (e.g. \"update testing task 1 due time\", \"update task X priority\", \"update task X title\", \"update testing task 1 status\"). The new value MUST be in the current message — do NOT infer from history, context, or the task\\'s existing value. Do NOT guess or use the current time.\\n- UNKNOWN INPUT RULE: If the user sends completely meaningless input — random symbols, dots only, question marks only, or gibberish with no recognizable words (e.g. \"...\", \"???\", \"####\", \"asdfgh\") — reply: \"I\\'m not sure what you mean. Type *help* to see what I can do.\"';\nconst roleNote = isAdmin\n  ? '\\n\\nYou have *admin/manager* access:\\n- list_tasks (no args) = ALL org tasks | to see YOUR tasks: pass your own name as assignee_name | assignee_name: \"John\" = only John tasks\\n- team_attendance shows today team status\\n- list_pending_leaves shows leaves awaiting your review\\n- approve_leave_request / reject_leave_request to act on them\\n- create_task can assign to any team member'\n  : '';\n\nconst messages = [\n  { role: 'system', content: ctx.system_prompt + taskRules + roleNote },\n  ...history,\n  { role: 'user', content: effectiveMessage }\n];\n\nasync function groqCall(msgs, toolChoice) {\n  const keys = [groqKey, groqKey2, groqKey3].filter(Boolean);\n  let lastErr;\n  for (const k of keys) {\n    try {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.groq.com/openai/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + k, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'llama-3.3-70b-versatile',\n          messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3\n        })\n      });\n    } catch(e) {\n      const code = String(e.message);\n      if (code.includes('429') || code.includes('400')) { lastErr = e; continue; }\n      throw e;\n    }\n  }\n  throw lastErr;\n}\n\nasync function llmCall(msgs, toolChoice) {\n  try {\n    return await groqCall(msgs, toolChoice);\n  } catch(e) {\n    if (orKey) {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + orKey, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://whatsapp-hrbot.vercel.app' },\n        body: JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct', messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3 })\n      });\n    }\n    throw e;\n  }\n}\n\nlet resp   = await llmCall(messages, isGreeting ? 'none' : 'auto');\nlet choice = resp.choices[0];\nlet iters  = 0;\n\nwhile (!isGreeting && choice.finish_reason === 'tool_calls' && iters < 5) {\n  const toolCalls = choice.message.tool_calls || [];\n\n  // ── Write-action interceptor: force confirmation for audio/button-reply ──────\n  // Runs BEFORE any tool executes. The LLM decides WHAT to do; we decide WHEN.\n  const WRITE_TOOLS = ['create_task','update_task','delete_task','approve_leave_request','reject_leave_request'];\n  const needsConfirm = isAudio || (isButtonReply && rawMsg !== 'yes_confirm');\n  if (needsConfirm && toolCalls.some(function(t){ return WRITE_TOOLS.includes(t.function.name); })) {\n    const tc   = toolCalls.find(function(t){ return WRITE_TOOLS.includes(t.function.name); });\n    const args = JSON.parse(tc.function.arguments || '{}');\n    let details = '';\n    if (tc.function.name === 'create_task') {\n      details = '• Title: *' + (args.title || '?') + '*' +\n                '\\n• Assignee: *' + (args.assignee_name || ctx.user_name) + '*' +\n                (args.deadline ? '\\n• Deadline: *' + args.deadline + '*' : '') +\n                '\\n• Priority: *' + (args.priority || 'medium') + '*';\n    } else if (tc.function.name === 'update_task') {\n      const ch = [];\n      if (args.title)     ch.push('Title → ' + args.title);\n      if (args.assignee_name) ch.push('Assignee → ' + args.assignee_name);\n      if (args.deadline)      ch.push('Deadline → ' + args.deadline);\n      if (args.priority)      ch.push('Priority → ' + args.priority);\n      if (args.status)        ch.push('Status → ' + args.status);\n      details = 'Task: *' + (args.task_title || args.task_id || 'task') + '*' +\n                (ch.length > 0 ? '\\n' + ch.map(function(c){ return '• ' + c; }).join('\\n') : '');\n    } else if (tc.function.name === 'delete_task') {\n      details = 'DELETE task: *' + (args.task_title || args.task_id || '?') + '*\\n⚠️ This cannot be undone.';\n    } else if (tc.function.name === 'approve_leave_request') {\n      details = 'APPROVE the leave request.';\n    } else if (tc.function.name === 'reject_leave_request') {\n      details = 'REJECT the leave request.';\n    } else {\n      details = tc.function.name;\n    }\n    return [{ json: {\n      output: 'Please confirm:\\n\\n' + details + '\\n\\nConfirm?',\n      confirmButtons: [\n        { id: 'yes_confirm', title: 'Yes, do it' },\n        { id: 'no_cancel',   title: 'No, cancel'  }\n      ]\n    }}];\n  }\n  // ── End interceptor ─────────────────────────────────────────────────────────\n\n  messages.push(choice.message);\n  for (const tc of toolCalls) {\n    let toolResult;\n    try { toolResult = await runTool(tc.function.name, JSON.parse(tc.function.arguments || '{}')); }\n    catch(e) { toolResult = { error: e.message }; }\n    messages.push({ role: 'tool', tool_call_id: tc.id, content: JSON.stringify(toolResult) });\n  }\n  resp   = await llmCall(messages);\n  choice = resp.choices[0];\n  iters++;\n}\n\n// Strip leaked tool-call JSON or trailing \"Here's the task creation JSON:\" blurbs\nlet output = (choice.message.content || '').trim();\n\n  // Strip code-block fences and try to recover a leaked tool call\n  const fenceMatch = output.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fenceMatch) {\n    const inner = fenceMatch[1].trim();\n    if (inner.startsWith('{')) {\n      try {\n        const tc = JSON.parse(inner);\n        const toolName = tc.name || (tc.function && tc.function.name);\n        const rawArgs  = tc.parameters || tc.arguments || {};\n        const toolArgs = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\n        if (toolName && tools.some(function(t){ return t.function.name === toolName; }) && iters < 5) {\n          const toolRes = await runTool(toolName, toolArgs);\n          const callId  = 'recovered_' + Date.now();\n          messages.push({ role: 'assistant', content: null,\n            tool_calls: [{ id: callId, type: 'function',\n              function: { name: toolName, arguments: JSON.stringify(toolArgs) } }] });\n          messages.push({ role: 'tool', tool_call_id: callId, content: JSON.stringify(toolRes) });\n          const finalResp = await llmCall(messages, 'none');\n          output = (finalResp.choices[0].message.content || '').trim();\n        } else {\n          output = '';\n        }\n      } catch(e2) { output = ''; }\n    } else {\n      output = inner;\n    }\n  }\n\n  // Also recover bare JSON tool call (no code fence)\n  if (!fenceMatch && /^\\s*\\{/.test(output)) {\n    try {\n      const tc = JSON.parse(output);\n      const toolName = tc.name || (tc.function && tc.function.name);\n      const rawArgs  = tc.parameters || tc.arguments || {};\n      const toolArgs = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\n      if (toolName && tools.some(function(t){ return t.function.name === toolName; }) && iters < 5) {\n        const toolRes = await runTool(toolName, toolArgs);\n        const callId  = 'recovered_' + Date.now();\n        messages.push({ role: 'assistant', content: null,\n          tool_calls: [{ id: callId, type: 'function',\n            function: { name: toolName, arguments: JSON.stringify(toolArgs) } }] });\n        messages.push({ role: 'tool', tool_call_id: callId, content: JSON.stringify(toolRes) });\n        const finalResp = await llmCall(messages, 'none');\n        output = (finalResp.choices[0].message.content || '').trim();\n      } else {\n        output = '';\n      }\n    } catch(e2) {}\n  }\n\n  // Strip any remaining bare JSON artifacts at end of output\n  output = output.replace(/\\{[\\s\\S]*?\"name\"[\\s\\S]*?\"parameters\"[\\s\\S]*?\\}\\s*$/, '').trim();\n  output = output.replace(/here'?s the .*?json:?\\s*$/i, '').trim();\n  // Attach interactive confirm buttons when replying to audio CRUD confirmation\n  let extras = {};\n  if ((isAudio || isButtonReply) && /Confirm\\?/i.test(output)) {\n    extras.confirmButtons = [\n      { id: 'yes_confirm', title: 'Yes, do it' },\n      { id: 'no_cancel',   title: 'No, cancel'  }\n    ];\n  }\n  return [{ json: { output, ...extras } }];\n\n"
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ wa_number: $('Build Context').item.json.from, messages: JSON.parse($('Build Context').item.json.history ?? '[]').concat([ { role: 'user', content: $('Build Context').item.json.message }, { role: 'assistant', content: $json.output } ]).slice(-20), updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "save-history",
      "name": "Save History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://whatsapp-hrbot.vercel.app/api/wa/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $(\"Build Context\").item.json.from, text: $json.output, organization_id: $(\"Build Context\").item.json.org_id, confirmButtons: $json.confirmButtons ?? null, listItems: $json.listItems ?? null, listButtonLabel: $json.listButtonLabel ?? null }) }}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Send WA Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const isGreeting = $('Build Context').item.json.is_greeting;\nconst aiOutput = $('AI Agent').item.json.output;\n\nif (!isGreeting) {\n  return [{ json: { output: aiOutput, confirmButtons: $('AI Agent').item.json.confirmButtons ?? null, listItems: $('AI Agent').item.json.listItems ?? null, listButtonLabel: $('AI Agent').item.json.listButtonLabel ?? null } }];\n}\n\n// Extract the pre-written greeting from the system prompt\nconst sp = $('Build Context').item.json.system_prompt;\nconst marker = 'Do NOT call any tools. Do NOT add anything:\\n\\n';\nconst idx = sp.indexOf(marker);\nconst greetText = idx >= 0\n  ? sp.substring(idx + marker.length)\n  : `Hello ${$('Build Context').item.json.user_name}! I am *HRBot*, your AI HR assistant.\n\n*Here is what I can help you with:*\n- *Tasks* - list, create, or update tasks\n- *Attendance* - check in/out, view history\n- *Leaves* - check balance, apply for leave\n- *Daily briefing* - today's summary\n- *Team attendance* - admin only\n\nWhat would you like to do?`;\n\nreturn [{ json: { output: greetText, confirmButtons: null, listItems: null, listButtonLabel: null } }];"
      },
      "id": "format-reply",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "groq-key",
              "name": "groq_key",
              "value": "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",
              "type": "string"
            },
            {
              "id": "sb-url",
              "name": "supabase_url",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "sb-key",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
              "type": "string"
            },
            {
              "id": "groq_key_2",
              "name": "groq_key_2",
              "value": "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",
              "type": "string"
            },
            {
              "id": "openrouter-key",
              "name": "openrouter_key",
              "value": "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",
              "type": "string"
            },
            {
              "id": "groq_key_3",
              "name": "groq_key_3",
              "value": "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",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "secrets-node-001",
      "name": "Secrets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    }
  ],
  "connections": {
    "WA Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Fetch User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Send WA Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secrets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
  "activeVersionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
  "versionCounter": 59,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-22T11:06:09.643Z",
      "createdAt": "2026-06-22T11:06:09.643Z",
      "role": "workflow:owner",
      "workflowId": "NZsKomyCVzVMHqxp",
      "projectId": "yMgzkpwLQ6KqgTd4",
      "project": {
        "updatedAt": "2026-06-22T10:50:50.919Z",
        "createdAt": "2026-06-22T10:41:33.061Z",
        "id": "yMgzkpwLQ6KqgTd4",
        "name": "Rahul Matharu <matharurahul1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-24T19:11:59.967Z",
    "createdAt": "2026-06-24T19:11:59.967Z",
    "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
    "workflowId": "NZsKomyCVzVMHqxp",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "wa-inbound",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "WA Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          304
        ],
        "webhookId": "4bff5e1f-1244-4a53-be2a-fc952eeb89f7"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-immediately",
        "name": "Respond 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          224,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst from    = String(body.from ?? '').replace(/^\\+/, '');\nconst message = String(body.message ?? '').trim();\nconst orgId   = String(body.org_id ?? '');\nif (!from || !message || !orgId) throw new Error('Missing fields: ' + JSON.stringify({ from, message, orgId }));\nconst isAudio = String(body.is_audio ?? 'false');\nreturn [{ json: { from, message, org_id: orgId, is_audio: isAudio } }];"
        },
        "id": "parse-payload",
        "name": "Parse Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          304
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?wa_number=eq.{{ $json.from }}&organization_id=eq.{{ $json.org_id }}&select=id,full_name,role,wa_number,organization_id&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-user",
        "name": "Fetch User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          304
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions?wa_number=eq.{{ $('Parse Payload').item.json.from }}&select=messages&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-history",
        "name": "Fetch History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "const payload = $('Parse Payload').first().json; const userArr = $('Fetch User').first().json; const user = Array.isArray(userArr) ? userArr[0] : userArr; const histArr = $('Fetch History').first().json; const session = Array.isArray(histArr) ? histArr[0] : histArr; const history = session?.messages ?? []; const today = new Date().toLocaleDateString('en-IN', { timeZone:'Asia/Kolkata', weekday:'long', day:'numeric', month:'long', year:'numeric' }); const time = new Date().toLocaleTimeString('en-IN', { timeZone:'Asia/Kolkata', hour:'2-digit', minute:'2-digit' }); const name = user?.full_name ?? 'there'; const firstName = name.split(' ')[0]; const msg = payload.message.trim(); const isGreeting = /^(hi+|hello+|hey+|hj+|hii+|sup|yo|good\\s*(morning|evening|afternoon)|namaste|hola)[\\s!?.]*$/i.test(msg); const systemPrompt = isGreeting ? 'You are HRBot. The user greeted you. DO NOT call any tools. Reply with ONLY: Hello ' + firstName + '! I am *HRBot*, your AI HR assistant.\\n\\n*What I can help you with:*\\n- *Tasks* - list, create, update tasks\\n- *Attendance* - check in/out, history\\n- *Leaves* - balance, apply leave\\n- *Daily briefing* - today summary\\n- *Team attendance* - admin only\\n\\nWhat would you like to do?' : 'You are HRBot, an AI HR assistant for WhatsApp. Today is ' + today + ', ' + time + ' IST.\\n\\nUser: ' + name + ' | Role: ' + (user?.role ?? 'employee') + ' | OrgID: ' + payload.org_id + ' | UserID: ' + (user?.id ?? '')+'\\n\\nRules:\\n- Always reply in WhatsApp-friendly format (use *bold*, bullet points)\\n- For task creation: call create_task immediately once you have title + assignee. Do NOT ask for a second confirmation\\n- Keep replies concise\\n- Convert natural language dates to YYYY-MM-DD\\n- Priority: low/medium/high/urgent | Status: todo/in_progress/done/cancelled\\n- When listing tasks use *bullet points*, format deadline as \"24 Jun 2026\" (NOT YYYY-MM-DD), append due time as \"at 11:00 AM\" if set\\n- Interactive reply IDs (appear in history as user messages): yes_confirm=confirmed proceed, no_cancel=cancelled, field_title/assignee/deadline/priority/status=field chosen, priority_low/medium/high/urgent=priority chosen, status_todo/in_progress/done/cancelled=status chosen. Use these to understand conversation context and reconstruct the pending action.'; return [{ json: { from: payload.from, message: payload.message, chatInput: payload.message, org_id: payload.org_id, user_id: user?.id ?? '', user_name: firstName, user_role: user?.role ?? 'employee', history: JSON.stringify(history.slice(-10)), system_prompt: systemPrompt, is_greeting: isGreeting, is_audio: payload.is_audio ?? 'false' } }];"
        },
        "id": "build-context",
        "name": "Build Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "﻿const ctx      = $('Build Context').item.json;\nconst userId   = ctx.user_id;\nconst orgId    = ctx.org_id;\nconst userRole = ctx.user_role ?? 'employee';\nconst isAdmin  = userRole !== 'employee';\nconst isAudio  = String(ctx.is_audio ?? 'false') === 'true';\n\n// ─── Interactive button/list reply pre-processing ────────────────────────────\n// WhatsApp sends button/list reply as the item's ID string.\n// Some IDs we handle immediately (return list/buttons without calling LLM).\n// Others we translate to human-readable text so the LLM understands context.\n\nconst FIELD_LIST = [{ title: 'What to change?', rows: [\n  { id: 'field_title',    title: 'Title',    description: 'Change the task name' },\n  { id: 'field_assignee', title: 'Assignee', description: 'Assign to someone else' },\n  { id: 'field_deadline', title: 'Deadline', description: 'Change the due date' },\n  { id: 'field_priority', title: 'Priority', description: 'Low / Medium / High / Urgent' },\n  { id: 'field_status',   title: 'Status',   description: 'To Do / In Progress / Done / Cancelled' }\n]}];\n\nconst PRIORITY_LIST = [{ title: 'Priority', rows: [\n  { id: 'priority_low',    title: '🟢 Low' },\n  { id: 'priority_medium', title: '🟡 Medium' },\n  { id: 'priority_high',   title: '🟠 High' },\n  { id: 'priority_urgent', title: '🔴 Urgent' }\n]}];\n\nconst STATUS_LIST = [{ title: 'Status', rows: [\n  { id: 'status_todo',        title: '📋 To Do' },\n  { id: 'status_in_progress', title: '⏳ In Progress' },\n  { id: 'status_done',        title: '✅ Done' },\n  { id: 'status_cancelled',   title: '❌ Cancelled' }\n]}];\n\n// IDs that short-circuit — return interactive UI immediately, no LLM call\nconst SHORTCUT_MAP = {\n  'no_cancel':      { output: 'What would you like to change?', listItems: FIELD_LIST, listButtonLabel: 'Choose field' },\n  'field_priority': { output: 'Choose the priority:', listItems: PRIORITY_LIST, listButtonLabel: 'Choose priority' },\n  'field_status':   { output: 'Choose the status:', listItems: STATUS_LIST, listButtonLabel: 'Choose status' },\n  'field_title':    { output: '✏️ What should the new title be? Please type it.' },\n  'field_assignee': { output: '👤 Who should this be assigned to? Please type their name.' },\n  'field_deadline': { output: '📅 What should the new deadline be? (e.g. \"tomorrow\", \"25 Jun 2026\")' },\n};\n\n// IDs that need LLM — translate to human text first\nconst BUTTON_ID_MAP = {\n  'yes_confirm':        'Yes, please proceed with the action.',\n  'priority_low':       'Set priority to: low',\n  'priority_medium':    'Set priority to: medium',\n  'priority_high':      'Set priority to: high',\n  'priority_urgent':    'Set priority to: urgent',\n  'status_todo':        'Set status to: todo',\n  'status_in_progress': 'Set status to: in_progress',\n  'status_done':        'Set status to: done',\n  'status_cancelled':   'Set status to: cancelled',\n};\n\nconst rawMsg = ctx.message;\n\nif (SHORTCUT_MAP[rawMsg] !== undefined) {\n  return [{ json: SHORTCUT_MAP[rawMsg] }];\n}\n\nconst isButtonReply    = BUTTON_ID_MAP[rawMsg] !== undefined;\nconst effectiveMessage = isButtonReply ? BUTTON_ID_MAP[rawMsg] : rawMsg;\n\nconst isGreeting = String(ctx.is_greeting) === 'true';\nconst groqKey  = $('Secrets').item.json.groq_key;\nconst groqKey2 = $('Secrets').item.json.groq_key_2 || '';\nconst groqKey3 = $('Secrets').item.json.groq_key_3 || '';\nconst orKey    = $('Secrets').item.json.openrouter_key || '';\nconst sbUrl    = $('Secrets').item.json.supabase_url;\nconst sbKey    = $('Secrets').item.json.supabase_key;\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'list_tasks',\n      description: isAdmin\n        ? 'List active tasks. Pass assignee_name to filter by a specific team member, or omit for all org tasks.'\n        : 'List YOUR OWN active tasks. Employees cannot see other people\\'s tasks.',\n      parameters: {\n        type: 'object',\n        properties: isAdmin ? {\n          assignee_name: { type: 'string', description: 'Filter by team member name (optional, admin/manager only)' }\n        } : {}\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'create_task',\n      description: 'Create a BRAND NEW task that does not exist yet. NEVER use this to reassign, update, or modify an existing task — use update_task for that. Before calling, ask for: title (required), assignee_name (ask who to assign to — if not specified, leave blank and it defaults to the current user), deadline and priority (both optional).',\n      parameters: {\n        type: 'object',\n        properties: {\n          title:         { type: 'string' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD only (no time component). Pass null if user did NOT explicitly provide a date or deadline. NEVER invent or assume a deadline.' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to assign to (admin can assign to others)' }\n        },\n        required: ['title']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'update_task',\n      description: 'Update or reassign an EXISTING task. Use this for status changes, deadline changes, priority changes, AND reassigning the task to someone else (via assignee_name). Identify the task with task_id (UUID) OR task_title (the exact title). If the task was just created in this conversation, use task_title with the title that was confirmed.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:       { type: 'string', description: 'UUID of the task (preferred, from list_tasks)' },\n          task_title:    { type: 'string', description: 'Exact title of the task (use if task_id unknown)' },\n          status:        { type: 'string', enum: ['todo','in_progress','done','cancelled'] },\n          title:         { type: 'string', description: 'New title for the task' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD only (preferred) or YYYY-MM-DDTHH:MM:SS if user gave an explicit time. If user gives ONLY a date, pass YYYY-MM-DD — do NOT add a time from memory, history, or the task current deadline. If user asks to update deadline/due time but did NOT say what the new value is in the current message, do NOT call this tool — ask the user for the new deadline first.' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to reassign the task to' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_in',\n      description: 'Record attendance check-in for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_out',\n      description: 'Record attendance check-out for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_leave_balance',\n      description: 'Get remaining leave balance for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'apply_leave',\n      description: 'Submit a leave request. Ask user for leave type, dates, and reason first.',\n      parameters: {\n        type: 'object',\n        properties: {\n          leave_type_id: { type: 'string', description: 'UUID of leave type (get from check_leave_balance)' },\n          start_date:    { type: 'string', description: 'YYYY-MM-DD' },\n          end_date:      { type: 'string', description: 'YYYY-MM-DD' },\n          reason:        { type: 'string' }\n        },\n        required: ['leave_type_id','start_date','end_date']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'list_leaves',\n      description: 'List recent leave requests for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'daily_briefing',\n      description: 'Get today briefing: pending tasks, attendance status, leave balance.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'my_attendance',\n      description: 'Fetch attendance log for the current user this month.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  ...(isAdmin ? [\n    {\n      type: 'function',\n      function: {\n        name: 'team_attendance',\n        description: 'Fetch today attendance for the whole team. Admin/manager only.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'list_pending_leaves',\n        description: 'List all pending leave requests awaiting admin/manager review.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'approve_leave_request',\n        description: 'Approve a pending leave request. Always confirm with the user before calling.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id: { type: 'string', description: 'UUID of the leave request (from list_pending_leaves)' }\n          },\n          required: ['leave_id']\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'reject_leave_request',\n        description: 'Reject a pending leave request with a reason.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id:         { type: 'string', description: 'UUID of the leave request' },\n            rejection_reason: { type: 'string', description: 'Reason for rejection' }\n          },\n          required: ['leave_id','rejection_reason']\n        }\n      }\n    }\n  ] : []),\n  {\n    type: 'function',\n    function: {\n      name: 'delete_task',\n      description: 'Permanently delete a task. Use ONLY when user explicitly asks to delete/remove a task. Always confirm with the user before calling.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:    { type: 'string', description: 'UUID of the task (preferred)' },\n          task_title: { type: 'string', description: 'Exact title of the task (use if task_id unknown)' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'help',\n      description: 'Get list of supported commands.',\n      parameters: { type: 'object', properties: {} }\n    }\n  }\n];\n\nasync function runTool(name, args) {\n  const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n  const now   = new Date().toISOString();\n\n  if (name === 'list_tasks') {\n    if (!isAdmin && args.assignee_name) {\n      return { denied: true, message: \"🚫 You don't have permission to view other people's tasks. Type *my tasks* to see your own.\" };\n    }\n    let userFilter = isAdmin ? '' : '&assignee_id=eq.' + userId;\n    if (isAdmin && args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent('%' + args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) userFilter = '&assignee_id=eq.' + users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/tasks?status=not.in.(done,cancelled)&deleted_at=is.null&organization_id=eq.' + orgId +\n           userFilter + '&select=id,title,deadline,due_time,priority,status,assignee:users!tasks_assignee_id_fkey(full_name)' +\n           '&order=deadline.asc.nullslast&limit=30',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'create_task') {\n    let assigneeId        = userId;\n    let assigneeFirstName = ctx.user_name;\n    let assigneeWa        = null;\n    if (args.assignee_name && args.assignee_name.trim()) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name,wa_number&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) {\n        assigneeId        = users[0].id;\n        assigneeFirstName = users[0].full_name.split(' ')[0];\n        assigneeWa        = users[0].wa_number;\n      } else {\n        return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n      }\n    }\n    const created = await helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/tasks',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        title: args.title,\n        deadline: args.deadline ? args.deadline.split('T')[0] : null,\n        priority: args.priority ?? 'medium',\n        organization_id: orgId,\n        assignee_id: assigneeId,\n        created_by: userId,\n        status: 'todo',\n        source: 'whatsapp'\n      })\n    });\n    // Instantly notify assignee if task was assigned to someone else\n    if (assigneeId !== userId && assigneeWa) {\n      const pEmoji   = { urgent: '🔴', high: '🟠', medium: '🟡', low: '🟢' }[args.priority ?? 'medium'] ?? '⚪';\n      const dlLabel  = args.deadline\n        ? new Date(args.deadline).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', day: 'numeric', month: 'short', year: 'numeric' })\n        : null;\n      const notifMsg =\n        '📋 *Hi ' + assigneeFirstName + ', you have a new task!*\\n\\n' +\n        '*' + args.title + '*\\n\\n' +\n        pEmoji + ' Priority: *' + (args.priority ?? 'medium') + '*\\n' +\n        (dlLabel ? '🗓 Deadline: *' + dlLabel + '*\\n' : '') +\n        '👤 Assigned by: *' + ctx.user_name + '*\\n\\n' +\n        'Reply *my tasks* to view all your pending tasks.';\n      try {\n        await helpers.httpRequest({\n          method: 'POST',\n          url: 'https://whatsapp-hrbot.vercel.app/api/wa/send',\n          headers: { Authorization: 'Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK', 'Content-Type': 'application/json' },\n          body: JSON.stringify({ to: assigneeWa, text: notifMsg, organization_id: orgId })\n        });\n      } catch(e) { /* don't let notification failure block task creation */ }\n    }\n    return created;\n  }\n\n  if (name === 'update_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title.' };\n\n    const patch = {};\n    if (args.status)   patch.status   = args.status;\n    if (args.title)    patch.title    = args.title;\n    if (args.priority) patch.priority = args.priority;\n    if (args.deadline) {\n      // If date-only (YYYY-MM-DD), store just the date and clear any stored time\n      if (/^\\d{4}-\\d{2}-\\d{2}$/.test(args.deadline)) {\n        patch.deadline = args.deadline;\n        patch.due_time = null;\n      } else if (/^\\d{4}-\\d{2}-\\d{2}T/.test(args.deadline)) {\n        patch.deadline = args.deadline.split('T')[0];\n        const tp = args.deadline.split('T')[1];\n        patch.due_time = tp ? tp.slice(0, 8) : null;\n      } else {\n        patch.deadline = args.deadline;\n      }\n    }\n    if (args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) patch.assignee_id = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    if (Object.keys(patch).length === 0) return { error: 'Nothing to update.' };\n\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify(patch)\n    });\n  }\n\n\n  if (name === 'delete_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title to delete.' };\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({ deleted_at: new Date().toISOString() })\n    });\n    return { success: true, message: 'Task deleted successfully.' };\n  }\n\n  if (name === 'check_in') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const nowISO   = new Date().toISOString();\n    const existing = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n           '&select=id,check_in_time,check_out_time',\n      headers: sbHeaders\n    });\n    if (Array.isArray(existing) && existing.length > 0) {\n      const cinFmt = new Date(existing[0].check_in_time).toLocaleTimeString('en-IN',\n        { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n      return { already_checked_in: true, check_in_time: cinFmt,\n               message: 'You already checked in today at ' + cinFmt + '.' };\n    }\n    const inserted = await helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/attendance_records',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        organization_id: orgId,\n        employee_id:     userId,\n        date:            todayIST,\n        check_in_time:   nowISO,\n        status:          'present',\n        source:          'whatsapp'\n      })\n    });\n    const cinFmt = new Date(nowISO).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    const dateFmt = new Date(nowISO).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', day: 'numeric', month: 'short', year: 'numeric' });\n    return { success: true, check_in_time: cinFmt, date: dateFmt,\n             message: 'Checked in at ' + cinFmt };\n  }\n\n  if (name === 'check_out') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const nowISO   = new Date().toISOString();\n    const records  = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n           '&select=id,check_in_time,check_out_time',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(records) || records.length === 0) {\n      return { error: \"You haven't checked in today yet. Reply *checkin* to check in first.\" };\n    }\n    const record = records[0];\n    if (record.check_out_time) {\n      const coutFmt = new Date(record.check_out_time).toLocaleTimeString('en-IN',\n        { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n      return { already_checked_out: true, check_out_time: coutFmt,\n               message: 'You already checked out today at ' + coutFmt + '.' };\n    }\n    const cinFmt = new Date(record.check_in_time).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/attendance_records?id=eq.' + record.id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({ check_out_time: nowISO })\n    });\n    // Compute duration\n    const minsDiff = Math.round((new Date(nowISO) - new Date(record.check_in_time)) / 60000);\n    const hrs  = Math.floor(minsDiff / 60);\n    const mins = minsDiff % 60;\n    const duration = hrs > 0 ? hrs + 'h ' + mins + 'm' : mins + 'm';\n    const coutFmt2 = new Date(nowISO).toLocaleTimeString('en-IN',\n      { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    return {\n      success:        true,\n      check_in_time:  cinFmt,\n      check_out_time: coutFmt2,\n      duration,\n      message: 'Checked out at ' + coutFmt2 + '. You worked for ' + duration + ' today (checked in at ' + cinFmt + ').'\n    };\n  }\n\n  if (name === 'check_leave_balance') {\n    const balanceRows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=id,remaining_days,entitled_days,used_days,leave_type_id,leave_type:leave_types(id,name)',\n      headers: sbHeaders\n    });\n    if (Array.isArray(balanceRows) && balanceRows.length > 0) return balanceRows;\n    // No balance rows: fall back to org leave types (user can still apply, balance tracked separately)\n    const leaveTypes = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_types?organization_id=eq.' + orgId + '&select=id,name,default_days',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(leaveTypes) || leaveTypes.length === 0) {\n      return { message: 'No leave types configured for your organisation. Contact HR.' };\n    }\n    return leaveTypes.map(function(lt) {\n      return { leave_type_id: lt.id, remaining_days: lt.default_days, entitled_days: lt.default_days, used_days: 0, leave_type: { id: lt.id, name: lt.name } };\n    });\n  }\n\n  if (name === 'apply_leave') {\n    const startD = new Date(args.start_date);\n    const endD   = new Date(args.end_date);\n    if (endD < startD) return { error: 'End date cannot be before start date.' };\n    const durDays = Math.round((endD - startD) / 86400000) + 1;\n    return helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/leave_requests',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        organization_id: orgId,\n        employee_id:     userId,\n        leave_type_id:   args.leave_type_id,\n        start_date:      args.start_date,\n        end_date:        args.end_date,\n        duration_days:   durDays,\n        reason:          args.reason || '',\n        status:          'pending'\n      })\n    });\n  }\n\n  if (name === 'list_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=start_date,end_date,duration_days,status,reason,leave_type:leave_types(name)' +\n           '&order=created_at.desc&limit=10',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'daily_briefing') {\n    const todayIST = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n    const [tasks, attendance, balance] = await Promise.all([\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?assignee_id=eq.' + userId + '&organization_id=eq.' + orgId +\n             '&status=not.in.(done,cancelled)&deleted_at=is.null' +\n             '&select=title,deadline,priority&order=deadline.asc.nullslast&limit=5',\n        headers: sbHeaders\n      }),\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n             '&organization_id=eq.' + orgId + '&date=eq.' + todayIST +\n             '&select=check_in_time,check_out_time,status',\n        headers: sbHeaders\n      }),\n      helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n             '&organization_id=eq.' + orgId +\n             '&select=remaining_days,leave_type:leave_types(name)',\n        headers: sbHeaders\n      })\n    ]);\n    function toIST(iso) {\n      if (!iso) return null;\n      return new Date(iso).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' });\n    }\n    function fmtDate(d) {\n      if (!d) return null;\n      return new Date(d + 'T00:00:00').toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' });\n    }\n    const att = Array.isArray(attendance) && attendance.length > 0 ? attendance[0] : null;\n    return {\n      today: new Date().toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata', weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }),\n      pending_tasks: Array.isArray(tasks) ? tasks.map(function(t) {\n        return { title: t.title, deadline: fmtDate(t.deadline), priority: t.priority };\n      }) : [],\n      attendance_today: att ? {\n        status: att.status || 'present',\n        checked_in: att.check_in_time ? 'Yes, at ' + toIST(att.check_in_time) + ' IST' : 'Not yet',\n        checked_out: att.check_out_time ? 'Yes, at ' + toIST(att.check_out_time) + ' IST' : 'Not yet'\n      } : { status: 'absent', checked_in: 'Not yet', checked_out: 'Not yet' },\n      leave_balance: Array.isArray(balance) ? balance.map(function(l) {\n        return { leave_type: l.leave_type ? l.leave_type.name : 'Leave', remaining_days: l.remaining_days };\n      }) : []\n    };\n  }\n\n  if (name === 'my_attendance') {\n    const monthStart = new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().split('T')[0];\n    const rows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&date=gte.' + monthStart +\n           '&select=date,check_in_time,check_out_time,status&order=date.desc&limit=31',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(rows)) return rows;\n    return rows.map(function(r) {\n      const d = r.date ? new Date(r.date + 'T00:00:00').toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' }) : null;\n      const ci = r.check_in_time  ? new Date(r.check_in_time).toLocaleTimeString('en-IN',  { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }) + ' IST' : null;\n      const co = r.check_out_time ? new Date(r.check_out_time).toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit' }) + ' IST' : null;\n      return { date: d, check_in_time: ci, check_out_time: co, status: r.status };\n    });\n  }\n\n  if (name === 'team_attendance') {\n    const rows = await helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?organization_id=eq.' + orgId +\n           '&date=eq.' + today +\n           '&select=status,check_in_time,check_out_time,employee:users(full_name,role)' +\n           '&order=check_in_time.asc',\n      headers: sbHeaders\n    });\n    if (!Array.isArray(rows)) return rows;\n    return rows.map(function(r) {\n      function toIST(iso) {\n        if (!iso) return null;\n        return new Date(iso).toLocaleTimeString('en-IN', {\n          timeZone: 'Asia/Kolkata', hour: '2-digit', minute: '2-digit'\n        }) + ' IST';\n      }\n      return {\n        name:          r.employee ? r.employee.full_name : 'Unknown',\n        status:        r.status,\n        check_in_time: toIST(r.check_in_time),\n        check_out_time: toIST(r.check_out_time)\n      };\n    });\n  }\n\n  if (name === 'list_pending_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?status=eq.pending&organization_id=eq.' + orgId +\n           '&select=id,employee:users!leave_requests_employee_id_fkey(full_name),' +\n           'leave_type:leave_types(name),start_date,end_date,duration_days,reason' +\n           '&order=created_at.asc',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'approve_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'approved', reviewed_by: userId, reviewed_at: now })\n    });\n  }\n\n  if (name === 'reject_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'rejected', reviewed_by: userId, reviewed_at: now, rejection_reason: args.rejection_reason })\n    });\n  }\n\n  if (name === 'help') {\n    const adminCmds = isAdmin ? [\n      'team attendance', 'pending leaves', 'approve leave <id>', 'reject leave <id>'\n    ] : [];\n    return {\n      commands: [\n        'list my tasks','create a task','update task status',\n        'check in','check out','my attendance',\n        'leave balance','apply leave','list leaves','daily briefing',\n        ...adminCmds\n      ]\n    };\n  }\n\n  return { error: 'Unknown tool: ' + name };\n}\n\nconst history = JSON.parse(ctx.history || '[]');\nconst taskRules = '\\n\\n*Task rules:*\\n- To REASSIGN or UPDATE an existing task → always use update_task (with task_title or task_id). NEVER call create_task for an existing task.\\n- To create a BRAND NEW task → ask for title + assignee (who to assign to). Deadline and priority are optional. Once you have title and know the assignee (or confirmed it defaults to the current user), call create_task immediately. Do NOT show a JSON block or add an extra confirmation step.\\n- If a previous message said a task was \"not found\", try update_task with task_title anyway before giving up.\\n- Task list display: use *bullet points*, format dates as \"24 Jun 2026\" (never YYYY-MM-DD), show due time as \"at 11:00 AM\" if available\\n- VAGUE UPDATE RULE: If user wants to update a task but does NOT specify what to change (no new title/deadline/priority/status/assignee mentioned), ask: \"What would you like to update?\" and show these as bullet options: Title, Assignee, Deadline, Priority, Status.\\n- MISSING VALUE RULE: If the user specifies WHICH field to update but does NOT give the new value in the CURRENT message, ask for the new value BEFORE calling update_task. Examples that must ASK: \"update the due time\", \"change the due time\", \"update due date\", \"change the priority of X\", \"update the title of X\", \"change the status\". The new value MUST appear in the current user message — do NOT infer it from history, context, or the task's existing value. Do NOT guess, repeat the current value, or use the current time.';\nconst roleNote = isAdmin\n  ? '\\n\\nYou have *admin/manager* access:\\n- list_tasks (no args) = ALL org tasks | to see YOUR tasks: pass your own name as assignee_name | assignee_name: \"John\" = only John tasks\\n- team_attendance shows today team status\\n- list_pending_leaves shows leaves awaiting your review\\n- approve_leave_request / reject_leave_request to act on them\\n- create_task can assign to any team member'\n  : '';\n\nconst messages = [\n  { role: 'system', content: ctx.system_prompt + taskRules + roleNote },\n  ...history,\n  { role: 'user', content: effectiveMessage }\n];\n\nasync function groqCall(msgs, toolChoice) {\n  const keys = [groqKey, groqKey2, groqKey3].filter(Boolean);\n  let lastErr;\n  for (const k of keys) {\n    try {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.groq.com/openai/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + k, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'llama-3.3-70b-versatile',\n          messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3\n        })\n      });\n    } catch(e) {\n      const code = String(e.message);\n      if (code.includes('429') || code.includes('400')) { lastErr = e; continue; }\n      throw e;\n    }\n  }\n  throw lastErr;\n}\n\nasync function llmCall(msgs, toolChoice) {\n  try {\n    return await groqCall(msgs, toolChoice);\n  } catch(e) {\n    if (orKey) {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + orKey, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://whatsapp-hrbot.vercel.app' },\n        body: JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct', messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3 })\n      });\n    }\n    throw e;\n  }\n}\n\nlet resp   = await llmCall(messages, isGreeting ? 'none' : 'auto');\nlet choice = resp.choices[0];\nlet iters  = 0;\n\nwhile (!isGreeting && choice.finish_reason === 'tool_calls' && iters < 5) {\n  const toolCalls = choice.message.tool_calls || [];\n\n  // ── Write-action interceptor: force confirmation for audio/button-reply ──────\n  // Runs BEFORE any tool executes. The LLM decides WHAT to do; we decide WHEN.\n  const WRITE_TOOLS = ['create_task','update_task','delete_task','approve_leave_request','reject_leave_request'];\n  const needsConfirm = isAudio || (isButtonReply && rawMsg !== 'yes_confirm');\n  if (needsConfirm && toolCalls.some(function(t){ return WRITE_TOOLS.includes(t.function.name); })) {\n    const tc   = toolCalls.find(function(t){ return WRITE_TOOLS.includes(t.function.name); });\n    const args = JSON.parse(tc.function.arguments || '{}');\n    let details = '';\n    if (tc.function.name === 'create_task') {\n      details = '• Title: *' + (args.title || '?') + '*' +\n                '\\n• Assignee: *' + (args.assignee_name || ctx.user_name) + '*' +\n                (args.deadline ? '\\n• Deadline: *' + args.deadline + '*' : '') +\n                '\\n• Priority: *' + (args.priority || 'medium') + '*';\n    } else if (tc.function.name === 'update_task') {\n      const ch = [];\n      if (args.title)     ch.push('Title → ' + args.title);\n      if (args.assignee_name) ch.push('Assignee → ' + args.assignee_name);\n      if (args.deadline)      ch.push('Deadline → ' + args.deadline);\n      if (args.priority)      ch.push('Priority → ' + args.priority);\n      if (args.status)        ch.push('Status → ' + args.status);\n      details = 'Task: *' + (args.task_title || args.task_id || 'task') + '*' +\n                (ch.length > 0 ? '\\n' + ch.map(function(c){ return '• ' + c; }).join('\\n') : '');\n    } else if (tc.function.name === 'delete_task') {\n      details = 'DELETE task: *' + (args.task_title || args.task_id || '?') + '*\\n⚠️ This cannot be undone.';\n    } else if (tc.function.name === 'approve_leave_request') {\n      details = 'APPROVE the leave request.';\n    } else if (tc.function.name === 'reject_leave_request') {\n      details = 'REJECT the leave request.';\n    } else {\n      details = tc.function.name;\n    }\n    return [{ json: {\n      output: 'Please confirm:\\n\\n' + details + '\\n\\nConfirm?',\n      confirmButtons: [\n        { id: 'yes_confirm', title: 'Yes, do it' },\n        { id: 'no_cancel',   title: 'No, cancel'  }\n      ]\n    }}];\n  }\n  // ── End interceptor ─────────────────────────────────────────────────────────\n\n  messages.push(choice.message);\n  for (const tc of toolCalls) {\n    let toolResult;\n    try { toolResult = await runTool(tc.function.name, JSON.parse(tc.function.arguments || '{}')); }\n    catch(e) { toolResult = { error: e.message }; }\n    messages.push({ role: 'tool', tool_call_id: tc.id, content: JSON.stringify(toolResult) });\n  }\n  resp   = await llmCall(messages);\n  choice = resp.choices[0];\n  iters++;\n}\n\n// Strip leaked tool-call JSON or trailing \"Here's the task creation JSON:\" blurbs\nlet output = (choice.message.content || '').trim();\n\n  // Strip code-block fences and try to recover a leaked tool call\n  const fenceMatch = output.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fenceMatch) {\n    const inner = fenceMatch[1].trim();\n    if (inner.startsWith('{')) {\n      try {\n        const tc = JSON.parse(inner);\n        const toolName = tc.name || (tc.function && tc.function.name);\n        const rawArgs  = tc.parameters || tc.arguments || {};\n        const toolArgs = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\n        if (toolName && tools.some(function(t){ return t.function.name === toolName; }) && iters < 5) {\n          const toolRes = await runTool(toolName, toolArgs);\n          const callId  = 'recovered_' + Date.now();\n          messages.push({ role: 'assistant', content: null,\n            tool_calls: [{ id: callId, type: 'function',\n              function: { name: toolName, arguments: JSON.stringify(toolArgs) } }] });\n          messages.push({ role: 'tool', tool_call_id: callId, content: JSON.stringify(toolRes) });\n          const finalResp = await llmCall(messages, 'none');\n          output = (finalResp.choices[0].message.content || '').trim();\n        } else {\n          output = '';\n        }\n      } catch(e2) { output = ''; }\n    } else {\n      output = inner;\n    }\n  }\n\n  // Also recover bare JSON tool call (no code fence)\n  if (!fenceMatch && /^\\s*\\{/.test(output)) {\n    try {\n      const tc = JSON.parse(output);\n      const toolName = tc.name || (tc.function && tc.function.name);\n      const rawArgs  = tc.parameters || tc.arguments || {};\n      const toolArgs = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\n      if (toolName && tools.some(function(t){ return t.function.name === toolName; }) && iters < 5) {\n        const toolRes = await runTool(toolName, toolArgs);\n        const callId  = 'recovered_' + Date.now();\n        messages.push({ role: 'assistant', content: null,\n          tool_calls: [{ id: callId, type: 'function',\n            function: { name: toolName, arguments: JSON.stringify(toolArgs) } }] });\n        messages.push({ role: 'tool', tool_call_id: callId, content: JSON.stringify(toolRes) });\n        const finalResp = await llmCall(messages, 'none');\n        output = (finalResp.choices[0].message.content || '').trim();\n      } else {\n        output = '';\n      }\n    } catch(e2) {}\n  }\n\n  // Strip any remaining bare JSON artifacts at end of output\n  output = output.replace(/\\{[\\s\\S]*?\"name\"[\\s\\S]*?\"parameters\"[\\s\\S]*?\\}\\s*$/, '').trim();\n  output = output.replace(/here'?s the .*?json:?\\s*$/i, '').trim();\n  // Attach interactive confirm buttons when replying to audio CRUD confirmation\n  let extras = {};\n  if ((isAudio || isButtonReply) && /Confirm\\?/i.test(output)) {\n    extras.confirmButtons = [\n      { id: 'yes_confirm', title: 'Yes, do it' },\n      { id: 'no_cancel',   title: 'No, cancel'  }\n    ];\n  }\n  return [{ json: { output, ...extras } }];\n\n"
        },
        "id": "ai-agent",
        "name": "AI Agent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ wa_number: $('Build Context').item.json.from, messages: JSON.parse($('Build Context').item.json.history ?? '[]').concat([ { role: 'user', content: $('Build Context').item.json.message }, { role: 'assistant', content: $json.output } ]).slice(-20), updated_at: new Date().toISOString() }) }}",
          "options": {}
        },
        "id": "save-history",
        "name": "Save History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1264,
          384
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://whatsapp-hrbot.vercel.app/api/wa/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ to: $(\"Build Context\").item.json.from, text: $json.output, organization_id: $(\"Build Context\").item.json.org_id, confirmButtons: $json.confirmButtons ?? null, listItems: $json.listItems ?? null, listButtonLabel: $json.listButtonLabel ?? null }) }}",
          "options": {}
        },
        "id": "send-wa",
        "name": "Send WA Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1792,
          384
        ]
      },
      {
        "parameters": {
          "jsCode": "const isGreeting = $('Build Context').item.json.is_greeting;\nconst aiOutput = $('AI Agent').item.json.output;\n\nif (!isGreeting) {\n  return [{ json: { output: aiOutput, confirmButtons: $('AI Agent').item.json.confirmButtons ?? null, listItems: $('AI Agent').item.json.listItems ?? null, listButtonLabel: $('AI Agent').item.json.listButtonLabel ?? null } }];\n}\n\n// Extract the pre-written greeting from the system prompt\nconst sp = $('Build Context').item.json.system_prompt;\nconst marker = 'Do NOT call any tools. Do NOT add anything:\\n\\n';\nconst idx = sp.indexOf(marker);\nconst greetText = idx >= 0\n  ? sp.substring(idx + marker.length)\n  : `Hello ${$('Build Context').item.json.user_name}! I am *HRBot*, your AI HR assistant.\n\n*Here is what I can help you with:*\n- *Tasks* - list, create, or update tasks\n- *Attendance* - check in/out, view history\n- *Leaves* - check balance, apply for leave\n- *Daily briefing* - today's summary\n- *Team attendance* - admin only\n\nWhat would you like to do?`;\n\nreturn [{ json: { output: greetText, confirmButtons: null, listItems: null, listButtonLabel: null } }];"
        },
        "id": "format-reply",
        "name": "Format Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          384
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "groq-key",
                "name": "groq_key",
                "value": "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",
                "type": "string"
              },
              {
                "id": "sb-url",
                "name": "supabase_url",
                "value": "={{ $env.SUPABASE_URL }}",
                "type": "string"
              },
              {
                "id": "sb-key",
                "name": "supabase_key",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
                "type": "string"
              },
              {
                "id": "groq_key_2",
                "name": "groq_key_2",
                "value": "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",
                "type": "string"
              },
              {
                "id": "openrouter-key",
                "name": "openrouter_key",
                "value": "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",
                "type": "string"
              },
              {
                "id": "groq_key_3",
                "name": "groq_key_3",
                "value": "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",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "secrets-node-001",
        "name": "Secrets",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          192
        ]
      }
    ],
    "connections": {
      "WA Webhook": {
        "main": [
          [
            {
              "node": "Respond 200",
              "type": "main",
              "index": 0
            },
            {
              "node": "Parse Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Payload": {
        "main": [
          [
            {
              "node": "Fetch User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch User": {
        "main": [
          [
            {
              "node": "Fetch History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch History": {
        "main": [
          [
            {
              "node": "Build Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Context": {
        "main": [
          [
            {
              "node": "Secrets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Save History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save History": {
        "main": [
          [
            {
              "node": "Format Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reply": {
        "main": [
          [
            {
              "node": "Send WA Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Secrets": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Rahul Matharu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-24T19:12:01.866Z",
        "id": 168,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
        "event": "deactivated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      },
      {
        "createdAt": "2026-06-24T19:12:02.768Z",
        "id": 169,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
        "event": "activated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      },
      {
        "createdAt": "2026-06-24T19:12:08.107Z",
        "id": 170,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
        "event": "deactivated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      },
      {
        "createdAt": "2026-06-24T19:12:08.993Z",
        "id": 171,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "c0f05564-a91e-4fd5-845d-4e87d6b68a0a",
        "event": "activated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    ]
  }
}