n8n workflow files/hrbot-wa-inbound-ai-agent.json
{
  "updatedAt": "2026-06-23T11:46:30.763Z",
  "createdAt": "2026-06-22T11:06:09.643Z",
  "id": "NZsKomyCVzVMHqxp",
  "name": "HRBot - WA Inbound AI Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "4bff5e1f-1244-4a53-be2a-fc952eeb89f7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-immediately",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst from    = String(body.from ?? '').replace(/^\\+/, '');\nconst message = String(body.message ?? '').trim();\nconst orgId   = String(body.org_id ?? '');\nif (!from || !message || !orgId) throw new Error('Missing fields: ' + JSON.stringify({ from, message, orgId }));\nreturn [{ json: { from, message, org_id: orgId } }];"
      },
      "id": "parse-payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?wa_number=eq.{{ $json.from }}&organization_id=eq.{{ $json.org_id }}&select=id,full_name,role,wa_number,organization_id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-user",
      "name": "Fetch User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions?wa_number=eq.{{ $('Parse Payload').item.json.from }}&select=messages&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-history",
      "name": "Fetch History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Parse Payload').first().json; const userArr = $('Fetch User').first().json; const user = Array.isArray(userArr) ? userArr[0] : userArr; const histArr = $('Fetch History').first().json; const session = Array.isArray(histArr) ? histArr[0] : histArr; const history = session?.messages ?? []; const today = new Date().toLocaleDateString('en-IN', { timeZone:'Asia/Kolkata', weekday:'long', day:'numeric', month:'long', year:'numeric' }); const time = new Date().toLocaleTimeString('en-IN', { timeZone:'Asia/Kolkata', hour:'2-digit', minute:'2-digit' }); const name = user?.full_name ?? 'there'; const firstName = name.split(' ')[0]; const msg = payload.message.trim(); const isGreeting = /^(hi+|hello+|hey+|hj+|hii+|sup|yo|good\\s*(morning|evening|afternoon)|namaste|hola)[\\s!?.]*$/i.test(msg); const systemPrompt = isGreeting ? 'You are HRBot. The user greeted you. DO NOT call any tools. Reply with ONLY: Hello ' + firstName + '! I am *HRBot*, your AI HR assistant.\\n\\n*What I can help you with:*\\n- *Tasks* - list, create, update tasks\\n- *Attendance* - check in/out, history\\n- *Leaves* - balance, apply leave\\n- *Daily briefing* - today summary\\n- *Team attendance* - admin only\\n\\nWhat would you like to do?' : 'You are HRBot, an AI HR assistant for WhatsApp. Today is ' + today + ', ' + time + ' IST.\\n\\nUser: ' + name + ' | Role: ' + (user?.role ?? 'employee') + ' | OrgID: ' + payload.org_id + ' | UserID: ' + (user?.id ?? '')+'\\n\\nRules:\\n- Always reply in WhatsApp-friendly format (use *bold*, bullet points)\\n- For task creation: call create_task immediately once you have title + assignee. Do NOT ask for a second confirmation\\n- Keep replies concise\\n- Convert natural language dates to YYYY-MM-DD\\n- Priority: low/medium/high/urgent | Status: todo/in_progress/done/cancelled'; return [{ json: { from: payload.from, message: payload.message, chatInput: payload.message, org_id: payload.org_id, user_id: user?.id ?? '', user_name: firstName, user_role: user?.role ?? 'employee', history: JSON.stringify(history.slice(-10)), system_prompt: systemPrompt, is_greeting: isGreeting } }];"
      },
      "id": "build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "﻿const ctx      = $('Build Context').item.json;\nconst userId   = ctx.user_id;\nconst orgId    = ctx.org_id;\nconst userRole = ctx.user_role ?? 'employee';\nconst isAdmin  = userRole !== 'employee';\nconst isGreeting = String(ctx.is_greeting) === 'true';\nconst groqKey  = $('Secrets').item.json.groq_key;\nconst groqKey2 = $('Secrets').item.json.groq_key_2 || '';\nconst groqKey3 = $('Secrets').item.json.groq_key_3 || '';\nconst orKey    = $('Secrets').item.json.openrouter_key || '';\nconst sbUrl    = $('Secrets').item.json.supabase_url;\nconst sbKey    = $('Secrets').item.json.supabase_key;\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'list_tasks',\n      description: isAdmin\n        ? 'Fetch all active tasks across the whole organisation (every member). Returns combined list sorted by deadline.'\n        : 'Fetch all active tasks assigned to you.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'create_task',\n      description: 'Create a BRAND NEW task that does not exist yet. NEVER use this to reassign, update, or modify an existing task — use update_task for that. Before calling, ask for: title (required), assignee_name (ask who to assign to — if not specified, leave blank and it defaults to the current user), deadline and priority (both optional).',\n      parameters: {\n        type: 'object',\n        properties: {\n          title:         { type: 'string' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD or null' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to assign to (admin can assign to others)' }\n        },\n        required: ['title']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'update_task',\n      description: 'Update or reassign an EXISTING task. Use this for status changes, deadline changes, priority changes, AND reassigning the task to someone else (via assignee_name). Identify the task with task_id (UUID) OR task_title (the exact title). If the task was just created in this conversation, use task_title with the title that was confirmed.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:       { type: 'string', description: 'UUID of the task (preferred, from list_tasks)' },\n          task_title:    { type: 'string', description: 'Exact title of the task (use if task_id unknown)' },\n          status:        { type: 'string', enum: ['todo','in_progress','done','cancelled'] },\n          title:         { type: 'string', description: 'New title for the task' },\n          deadline:      { type: 'string' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to reassign the task to' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_in',\n      description: 'Record attendance check-in for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_out',\n      description: 'Record attendance check-out for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_leave_balance',\n      description: 'Get remaining leave balance for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'apply_leave',\n      description: 'Submit a leave request. Ask user for leave type, dates, and reason first.',\n      parameters: {\n        type: 'object',\n        properties: {\n          leave_type_id: { type: 'string', description: 'UUID of leave type (get from check_leave_balance)' },\n          start_date:    { type: 'string', description: 'YYYY-MM-DD' },\n          end_date:      { type: 'string', description: 'YYYY-MM-DD' },\n          reason:        { type: 'string' }\n        },\n        required: ['leave_type_id','start_date','end_date']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'list_leaves',\n      description: 'List recent leave requests for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'daily_briefing',\n      description: 'Get today briefing: pending tasks, attendance status, leave balance.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'my_attendance',\n      description: 'Fetch attendance log for the current user this month.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  ...(isAdmin ? [\n    {\n      type: 'function',\n      function: {\n        name: 'team_attendance',\n        description: 'Fetch today attendance for the whole team. Admin/manager only.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'list_pending_leaves',\n        description: 'List all pending leave requests awaiting admin/manager review.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'approve_leave_request',\n        description: 'Approve a pending leave request. Always confirm with the user before calling.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id: { type: 'string', description: 'UUID of the leave request (from list_pending_leaves)' }\n          },\n          required: ['leave_id']\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'reject_leave_request',\n        description: 'Reject a pending leave request with a reason.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id:         { type: 'string', description: 'UUID of the leave request' },\n            rejection_reason: { type: 'string', description: 'Reason for rejection' }\n          },\n          required: ['leave_id','rejection_reason']\n        }\n      }\n    }\n  ] : []),\n  {\n    type: 'function',\n    function: {\n      name: 'help',\n      description: 'Get list of supported commands.',\n      parameters: { type: 'object', properties: {} }\n    }\n  }\n];\n\nasync function runTool(name, args) {\n  const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n  const now   = new Date().toISOString();\n\n  if (name === 'list_tasks') {\n    const userFilter = isAdmin ? '' : '&assignee_id=eq.' + userId;\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/tasks?status=not.in.(done,cancelled)&deleted_at=is.null&organization_id=eq.' + orgId +\n           userFilter + '&select=id,title,deadline,priority,status,assignee:users!tasks_assignee_id_fkey(full_name)' +\n           '&order=deadline.asc.nullslast&limit=30',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'create_task') {\n    let assigneeId = userId;\n    if (args.assignee_name && args.assignee_name.trim()) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) assigneeId = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    return helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/tasks',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        title: args.title,\n        deadline: args.deadline ?? null,\n        priority: args.priority ?? 'medium',\n        organization_id: orgId,\n        assignee_id: assigneeId,\n        created_by: userId,\n        status: 'todo',\n        source: 'whatsapp'\n      })\n    });\n  }\n\n  if (name === 'update_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title.' };\n\n    const patch = {};\n    if (args.status)   patch.status   = args.status;\n    if (args.title)    patch.title    = args.title;\n    if (args.deadline) patch.deadline = args.deadline;\n    if (args.priority) patch.priority = args.priority;\n    if (args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) patch.assignee_id = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    if (Object.keys(patch).length === 0) return { error: 'Nothing to update.' };\n\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify(patch)\n    });\n  }\n\n  if (name === 'check_in') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/attendance_check_in',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ p_user_id: userId, p_org_id: orgId })\n    });\n  }\n\n  if (name === 'check_out') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/attendance_check_out',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ p_user_id: userId, p_org_id: orgId })\n    });\n  }\n\n  if (name === 'check_leave_balance') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=remaining_days,entitled_days,used_days,leave_type:leave_types(name)',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'apply_leave') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/apply_leave_from_bot',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        p_employee_id: userId, p_org_id: orgId,\n        p_leave_type_id: args.leave_type_id,\n        p_start_date: args.start_date, p_end_date: args.end_date,\n        p_reason: args.reason ?? ''\n      })\n    });\n  }\n\n  if (name === 'list_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=start_date,end_date,duration_days,status,reason,leave_type:leave_types(name)' +\n           '&order=created_at.desc&limit=10',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'daily_briefing') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/rpc/daily_briefing_for_bot?p_user_id=' + userId + '&p_org_id=' + orgId,\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'my_attendance') {\n    const monthStart = new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().split('T')[0];\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&date=gte.' + monthStart +\n           '&select=date,check_in_time,check_out_time,status&order=date.desc&limit=31',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'team_attendance') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?organization_id=eq.' + orgId +\n           '&date=eq.' + today + '&select=status,employee:users(full_name,role)',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'list_pending_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?status=eq.pending&organization_id=eq.' + orgId +\n           '&select=id,employee:users!leave_requests_employee_id_fkey(full_name),' +\n           'leave_type:leave_types(name),start_date,end_date,duration_days,reason' +\n           '&order=created_at.asc',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'approve_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'approved', reviewed_by: userId, reviewed_at: now })\n    });\n  }\n\n  if (name === 'reject_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'rejected', reviewed_by: userId, reviewed_at: now, rejection_reason: args.rejection_reason })\n    });\n  }\n\n  if (name === 'help') {\n    const adminCmds = isAdmin ? [\n      'team attendance', 'pending leaves', 'approve leave <id>', 'reject leave <id>'\n    ] : [];\n    return {\n      commands: [\n        'list my tasks','create a task','update task status',\n        'check in','check out','my attendance',\n        'leave balance','apply leave','list leaves','daily briefing',\n        ...adminCmds\n      ]\n    };\n  }\n\n  return { error: 'Unknown tool: ' + name };\n}\n\nconst history = JSON.parse(ctx.history || '[]');\nconst taskRules = '\\n\\n*Task rules:*\\n- To REASSIGN or UPDATE an existing task → always use update_task (with task_title or task_id). NEVER call create_task for an existing task.\\n- To create a BRAND NEW task → ask for title + assignee (who to assign to). Deadline and priority are optional. Once you have title and know the assignee (or confirmed it defaults to the current user), call create_task immediately. Do NOT show a JSON block or add an extra confirmation step.\\n- If a previous message said a task was \"not found\", try update_task with task_title anyway before giving up.';\nconst roleNote = isAdmin\n  ? '\\n\\nYou have *admin/manager* access:\\n- list_tasks returns ALL org tasks (combined list, any member)\\n- team_attendance shows today team status\\n- list_pending_leaves shows leaves awaiting your review\\n- approve_leave_request / reject_leave_request to act on them\\n- create_task can assign to any team member'\n  : '';\n\nconst messages = [\n  { role: 'system', content: ctx.system_prompt + taskRules + roleNote },\n  ...history,\n  { role: 'user', content: ctx.message }\n];\n\nasync function groqCall(msgs, toolChoice) {\n  const keys = [groqKey, groqKey2, groqKey3].filter(Boolean);\n  let lastErr;\n  for (const k of keys) {\n    try {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.groq.com/openai/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + k, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'llama-3.3-70b-versatile',\n          messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3\n        })\n      });\n    } catch(e) {\n      const code = String(e.message);\n      if (code.includes('429') || code.includes('400')) { lastErr = e; continue; }\n      throw e;\n    }\n  }\n  throw lastErr;\n}\n\nasync function llmCall(msgs, toolChoice) {\n  try {\n    return await groqCall(msgs, toolChoice);\n  } catch(e) {\n    if (orKey) {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + orKey, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://whatsapp-hrbot.vercel.app' },\n        body: JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct', messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3 })\n      });\n    }\n    throw e;\n  }\n}\n\nlet resp   = await llmCall(messages, isGreeting ? 'none' : 'auto');\nlet choice = resp.choices[0];\nlet iters  = 0;\n\nwhile (!isGreeting && choice.finish_reason === 'tool_calls' && iters < 5) {\n  const toolCalls = choice.message.tool_calls || [];\n  messages.push(choice.message);\n  for (const tc of toolCalls) {\n    let toolResult;\n    try { toolResult = await runTool(tc.function.name, JSON.parse(tc.function.arguments || '{}')); }\n    catch(e) { toolResult = { error: e.message }; }\n    messages.push({ role: 'tool', tool_call_id: tc.id, content: JSON.stringify(toolResult) });\n  }\n  resp   = await llmCall(messages);\n  choice = resp.choices[0];\n  iters++;\n}\n\n// Strip leaked tool-call JSON or trailing \"Here's the task creation JSON:\" blurbs\nlet output = (choice.message.content || '').trim();\noutput = output.replace(/\\{[\\s\\S]*?\"name\"[\\s\\S]*?\"parameters\"[\\s\\S]*?\\}\\s*$/, '').trim();\noutput = output.replace(/here'?s the .*?json:?\\s*$/i, '').trim();\nreturn [{ json: { output } }];\n"
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ wa_number: $('Build Context').item.json.from, messages: JSON.parse($('Build Context').item.json.history ?? '[]').concat([ { role: 'user', content: $('Build Context').item.json.message }, { role: 'assistant', content: $json.output } ]).slice(-20), updated_at: new Date().toISOString() }) }}"
      },
      "id": "save-history",
      "name": "Save History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://whatsapp-hrbot.vercel.app/api/wa/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $(\"Build Context\").item.json.from, text: $json.output, organization_id: $(\"Build Context\").item.json.org_id }) }}",
        "options": {}
      },
      "id": "send-wa",
      "name": "Send WA Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const isGreeting = $('Build Context').item.json.is_greeting;\nconst aiOutput = $('AI Agent').item.json.output;\n\nif (!isGreeting) {\n  return [{ json: { output: aiOutput } }];\n}\n\n// Extract the pre-written greeting from the system prompt\nconst sp = $('Build Context').item.json.system_prompt;\nconst marker = 'Do NOT call any tools. Do NOT add anything:\\n\\n';\nconst idx = sp.indexOf(marker);\nconst greetText = idx >= 0\n  ? sp.substring(idx + marker.length)\n  : `Hello ${$('Build Context').item.json.user_name}! I am *HRBot*, your AI HR assistant.\n\n*Here is what I can help you with:*\n- *Tasks* - list, create, or update tasks\n- *Attendance* - check in/out, view history\n- *Leaves* - check balance, apply for leave\n- *Daily briefing* - today's summary\n- *Team attendance* - admin only\n\nWhat would you like to do?`;\n\nreturn [{ json: { output: greetText } }];"
      },
      "id": "format-reply",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        380
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "groq-key",
              "name": "groq_key",
              "value": "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",
              "type": "string"
            },
            {
              "id": "sb-url",
              "name": "supabase_url",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "sb-key",
              "name": "supabase_key",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
              "type": "string"
            },
            {
              "id": "groq_key_2",
              "name": "groq_key_2",
              "value": "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",
              "type": "string"
            },
            {
              "id": "openrouter-key",
              "name": "openrouter_key",
              "value": "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",
              "type": "string"
            },
            {
              "id": "groq_key_3",
              "name": "groq_key_3",
              "value": "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",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "secrets-node-001",
      "name": "Secrets",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        380
      ]
    }
  ],
  "connections": {
    "WA Webhook": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Fetch User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Secrets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save History": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Send WA Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secrets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "ca2a0dc2-7b90-4ede-bc8c-b7853c80aa47",
  "activeVersionId": "ca2a0dc2-7b90-4ede-bc8c-b7853c80aa47",
  "versionCounter": 36,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-22T11:06:09.643Z",
      "createdAt": "2026-06-22T11:06:09.643Z",
      "role": "workflow:owner",
      "workflowId": "NZsKomyCVzVMHqxp",
      "projectId": "yMgzkpwLQ6KqgTd4",
      "project": {
        "updatedAt": "2026-06-22T10:50:50.919Z",
        "createdAt": "2026-06-22T10:41:33.061Z",
        "id": "yMgzkpwLQ6KqgTd4",
        "name": "Rahul Matharu <matharurahul1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-23T11:46:30.942Z",
    "createdAt": "2026-06-23T11:46:30.942Z",
    "versionId": "ca2a0dc2-7b90-4ede-bc8c-b7853c80aa47",
    "workflowId": "NZsKomyCVzVMHqxp",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "wa-inbound",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "WA Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "webhookId": "4bff5e1f-1244-4a53-be2a-fc952eeb89f7"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "OK",
          "options": {
            "responseCode": 200
          }
        },
        "id": "respond-immediately",
        "name": "Respond 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          220,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst from    = String(body.from ?? '').replace(/^\\+/, '');\nconst message = String(body.message ?? '').trim();\nconst orgId   = String(body.org_id ?? '');\nif (!from || !message || !orgId) throw new Error('Missing fields: ' + JSON.stringify({ from, message, orgId }));\nreturn [{ json: { from, message, org_id: orgId } }];"
        },
        "id": "parse-payload",
        "name": "Parse Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?wa_number=eq.{{ $json.from }}&organization_id=eq.{{ $json.org_id }}&select=id,full_name,role,wa_number,organization_id&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-user",
        "name": "Fetch User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions?wa_number=eq.{{ $('Parse Payload').item.json.from }}&select=messages&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-history",
        "name": "Fetch History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          460
        ]
      },
      {
        "parameters": {
          "jsCode": "const payload = $('Parse Payload').first().json; const userArr = $('Fetch User').first().json; const user = Array.isArray(userArr) ? userArr[0] : userArr; const histArr = $('Fetch History').first().json; const session = Array.isArray(histArr) ? histArr[0] : histArr; const history = session?.messages ?? []; const today = new Date().toLocaleDateString('en-IN', { timeZone:'Asia/Kolkata', weekday:'long', day:'numeric', month:'long', year:'numeric' }); const time = new Date().toLocaleTimeString('en-IN', { timeZone:'Asia/Kolkata', hour:'2-digit', minute:'2-digit' }); const name = user?.full_name ?? 'there'; const firstName = name.split(' ')[0]; const msg = payload.message.trim(); const isGreeting = /^(hi+|hello+|hey+|hj+|hii+|sup|yo|good\\s*(morning|evening|afternoon)|namaste|hola)[\\s!?.]*$/i.test(msg); const systemPrompt = isGreeting ? 'You are HRBot. The user greeted you. DO NOT call any tools. Reply with ONLY: Hello ' + firstName + '! I am *HRBot*, your AI HR assistant.\\n\\n*What I can help you with:*\\n- *Tasks* - list, create, update tasks\\n- *Attendance* - check in/out, history\\n- *Leaves* - balance, apply leave\\n- *Daily briefing* - today summary\\n- *Team attendance* - admin only\\n\\nWhat would you like to do?' : 'You are HRBot, an AI HR assistant for WhatsApp. Today is ' + today + ', ' + time + ' IST.\\n\\nUser: ' + name + ' | Role: ' + (user?.role ?? 'employee') + ' | OrgID: ' + payload.org_id + ' | UserID: ' + (user?.id ?? '')+'\\n\\nRules:\\n- Always reply in WhatsApp-friendly format (use *bold*, bullet points)\\n- For task creation: call create_task immediately once you have title + assignee. Do NOT ask for a second confirmation\\n- Keep replies concise\\n- Convert natural language dates to YYYY-MM-DD\\n- Priority: low/medium/high/urgent | Status: todo/in_progress/done/cancelled'; return [{ json: { from: payload.from, message: payload.message, chatInput: payload.message, org_id: payload.org_id, user_id: user?.id ?? '', user_name: firstName, user_role: user?.role ?? 'employee', history: JSON.stringify(history.slice(-10)), system_prompt: systemPrompt, is_greeting: isGreeting } }];"
        },
        "id": "build-context",
        "name": "Build Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          380
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "﻿const ctx      = $('Build Context').item.json;\nconst userId   = ctx.user_id;\nconst orgId    = ctx.org_id;\nconst userRole = ctx.user_role ?? 'employee';\nconst isAdmin  = userRole !== 'employee';\nconst isGreeting = String(ctx.is_greeting) === 'true';\nconst groqKey  = $('Secrets').item.json.groq_key;\nconst groqKey2 = $('Secrets').item.json.groq_key_2 || '';\nconst groqKey3 = $('Secrets').item.json.groq_key_3 || '';\nconst orKey    = $('Secrets').item.json.openrouter_key || '';\nconst sbUrl    = $('Secrets').item.json.supabase_url;\nconst sbKey    = $('Secrets').item.json.supabase_key;\nconst sbHeaders = { apikey: sbKey, Authorization: 'Bearer ' + sbKey };\n\nconst tools = [\n  {\n    type: 'function',\n    function: {\n      name: 'list_tasks',\n      description: isAdmin\n        ? 'Fetch all active tasks across the whole organisation (every member). Returns combined list sorted by deadline.'\n        : 'Fetch all active tasks assigned to you.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'create_task',\n      description: 'Create a BRAND NEW task that does not exist yet. NEVER use this to reassign, update, or modify an existing task — use update_task for that. Before calling, ask for: title (required), assignee_name (ask who to assign to — if not specified, leave blank and it defaults to the current user), deadline and priority (both optional).',\n      parameters: {\n        type: 'object',\n        properties: {\n          title:         { type: 'string' },\n          deadline:      { type: 'string', description: 'YYYY-MM-DD or null' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to assign to (admin can assign to others)' }\n        },\n        required: ['title']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'update_task',\n      description: 'Update or reassign an EXISTING task. Use this for status changes, deadline changes, priority changes, AND reassigning the task to someone else (via assignee_name). Identify the task with task_id (UUID) OR task_title (the exact title). If the task was just created in this conversation, use task_title with the title that was confirmed.',\n      parameters: {\n        type: 'object',\n        properties: {\n          task_id:       { type: 'string', description: 'UUID of the task (preferred, from list_tasks)' },\n          task_title:    { type: 'string', description: 'Exact title of the task (use if task_id unknown)' },\n          status:        { type: 'string', enum: ['todo','in_progress','done','cancelled'] },\n          title:         { type: 'string', description: 'New title for the task' },\n          deadline:      { type: 'string' },\n          priority:      { type: 'string', enum: ['low','medium','high','urgent'] },\n          assignee_name: { type: 'string', description: 'Name of team member to reassign the task to' }\n        }\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_in',\n      description: 'Record attendance check-in for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_out',\n      description: 'Record attendance check-out for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'check_leave_balance',\n      description: 'Get remaining leave balance for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'apply_leave',\n      description: 'Submit a leave request. Ask user for leave type, dates, and reason first.',\n      parameters: {\n        type: 'object',\n        properties: {\n          leave_type_id: { type: 'string', description: 'UUID of leave type (get from check_leave_balance)' },\n          start_date:    { type: 'string', description: 'YYYY-MM-DD' },\n          end_date:      { type: 'string', description: 'YYYY-MM-DD' },\n          reason:        { type: 'string' }\n        },\n        required: ['leave_type_id','start_date','end_date']\n      }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'list_leaves',\n      description: 'List recent leave requests for the current user.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'daily_briefing',\n      description: 'Get today briefing: pending tasks, attendance status, leave balance.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  {\n    type: 'function',\n    function: {\n      name: 'my_attendance',\n      description: 'Fetch attendance log for the current user this month.',\n      parameters: { type: 'object', properties: {} }\n    }\n  },\n  ...(isAdmin ? [\n    {\n      type: 'function',\n      function: {\n        name: 'team_attendance',\n        description: 'Fetch today attendance for the whole team. Admin/manager only.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'list_pending_leaves',\n        description: 'List all pending leave requests awaiting admin/manager review.',\n        parameters: { type: 'object', properties: {} }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'approve_leave_request',\n        description: 'Approve a pending leave request. Always confirm with the user before calling.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id: { type: 'string', description: 'UUID of the leave request (from list_pending_leaves)' }\n          },\n          required: ['leave_id']\n        }\n      }\n    },\n    {\n      type: 'function',\n      function: {\n        name: 'reject_leave_request',\n        description: 'Reject a pending leave request with a reason.',\n        parameters: {\n          type: 'object',\n          properties: {\n            leave_id:         { type: 'string', description: 'UUID of the leave request' },\n            rejection_reason: { type: 'string', description: 'Reason for rejection' }\n          },\n          required: ['leave_id','rejection_reason']\n        }\n      }\n    }\n  ] : []),\n  {\n    type: 'function',\n    function: {\n      name: 'help',\n      description: 'Get list of supported commands.',\n      parameters: { type: 'object', properties: {} }\n    }\n  }\n];\n\nasync function runTool(name, args) {\n  const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\n  const now   = new Date().toISOString();\n\n  if (name === 'list_tasks') {\n    const userFilter = isAdmin ? '' : '&assignee_id=eq.' + userId;\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/tasks?status=not.in.(done,cancelled)&deleted_at=is.null&organization_id=eq.' + orgId +\n           userFilter + '&select=id,title,deadline,priority,status,assignee:users!tasks_assignee_id_fkey(full_name)' +\n           '&order=deadline.asc.nullslast&limit=30',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'create_task') {\n    let assigneeId = userId;\n    if (args.assignee_name && args.assignee_name.trim()) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) assigneeId = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    return helpers.httpRequest({\n      method: 'POST',\n      url: sbUrl + '/rest/v1/tasks',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({\n        title: args.title,\n        deadline: args.deadline ?? null,\n        priority: args.priority ?? 'medium',\n        organization_id: orgId,\n        assignee_id: assigneeId,\n        created_by: userId,\n        status: 'todo',\n        source: 'whatsapp'\n      })\n    });\n  }\n\n  if (name === 'update_task') {\n    let taskId = args.task_id;\n    if (!taskId && args.task_title) {\n      const found = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/tasks?organization_id=eq.' + orgId +\n             '&title=ilike.' + encodeURIComponent(args.task_title.trim()) +\n             '&deleted_at=is.null&select=id&limit=1',\n        headers: sbHeaders\n      });\n      if (Array.isArray(found) && found.length > 0) taskId = found[0].id;\n      else return { error: 'Task \"' + args.task_title + '\" not found.' };\n    }\n    if (!taskId) return { error: 'Provide task_id or task_title.' };\n\n    const patch = {};\n    if (args.status)   patch.status   = args.status;\n    if (args.title)    patch.title    = args.title;\n    if (args.deadline) patch.deadline = args.deadline;\n    if (args.priority) patch.priority = args.priority;\n    if (args.assignee_name) {\n      const users = await helpers.httpRequest({\n        method: 'GET',\n        url: sbUrl + '/rest/v1/users?organization_id=eq.' + orgId +\n             '&full_name=ilike.' + encodeURIComponent(args.assignee_name.trim() + '%') +\n             '&select=id,full_name&limit=5',\n        headers: sbHeaders\n      });\n      if (Array.isArray(users) && users.length > 0) patch.assignee_id = users[0].id;\n      else return { error: 'User \"' + args.assignee_name + '\" not found in this organisation.' };\n    }\n    if (Object.keys(patch).length === 0) return { error: 'Nothing to update.' };\n\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/tasks?id=eq.' + taskId + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify(patch)\n    });\n  }\n\n  if (name === 'check_in') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/attendance_check_in',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ p_user_id: userId, p_org_id: orgId })\n    });\n  }\n\n  if (name === 'check_out') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/attendance_check_out',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ p_user_id: userId, p_org_id: orgId })\n    });\n  }\n\n  if (name === 'check_leave_balance') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_balances?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=remaining_days,entitled_days,used_days,leave_type:leave_types(name)',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'apply_leave') {\n    return helpers.httpRequest({\n      method: 'POST', url: sbUrl + '/rest/v1/rpc/apply_leave_from_bot',\n      headers: { ...sbHeaders, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        p_employee_id: userId, p_org_id: orgId,\n        p_leave_type_id: args.leave_type_id,\n        p_start_date: args.start_date, p_end_date: args.end_date,\n        p_reason: args.reason ?? ''\n      })\n    });\n  }\n\n  if (name === 'list_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&select=start_date,end_date,duration_days,status,reason,leave_type:leave_types(name)' +\n           '&order=created_at.desc&limit=10',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'daily_briefing') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/rpc/daily_briefing_for_bot?p_user_id=' + userId + '&p_org_id=' + orgId,\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'my_attendance') {\n    const monthStart = new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().split('T')[0];\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?employee_id=eq.' + userId +\n           '&organization_id=eq.' + orgId +\n           '&date=gte.' + monthStart +\n           '&select=date,check_in_time,check_out_time,status&order=date.desc&limit=31',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'team_attendance') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/attendance_records?organization_id=eq.' + orgId +\n           '&date=eq.' + today + '&select=status,employee:users(full_name,role)',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'list_pending_leaves') {\n    return helpers.httpRequest({\n      method: 'GET',\n      url: sbUrl + '/rest/v1/leave_requests?status=eq.pending&organization_id=eq.' + orgId +\n           '&select=id,employee:users!leave_requests_employee_id_fkey(full_name),' +\n           'leave_type:leave_types(name),start_date,end_date,duration_days,reason' +\n           '&order=created_at.asc',\n      headers: sbHeaders\n    });\n  }\n\n  if (name === 'approve_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'approved', reviewed_by: userId, reviewed_at: now })\n    });\n  }\n\n  if (name === 'reject_leave_request') {\n    return helpers.httpRequest({\n      method: 'PATCH',\n      url: sbUrl + '/rest/v1/leave_requests?id=eq.' + args.leave_id + '&organization_id=eq.' + orgId,\n      headers: { ...sbHeaders, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'rejected', reviewed_by: userId, reviewed_at: now, rejection_reason: args.rejection_reason })\n    });\n  }\n\n  if (name === 'help') {\n    const adminCmds = isAdmin ? [\n      'team attendance', 'pending leaves', 'approve leave <id>', 'reject leave <id>'\n    ] : [];\n    return {\n      commands: [\n        'list my tasks','create a task','update task status',\n        'check in','check out','my attendance',\n        'leave balance','apply leave','list leaves','daily briefing',\n        ...adminCmds\n      ]\n    };\n  }\n\n  return { error: 'Unknown tool: ' + name };\n}\n\nconst history = JSON.parse(ctx.history || '[]');\nconst taskRules = '\\n\\n*Task rules:*\\n- To REASSIGN or UPDATE an existing task → always use update_task (with task_title or task_id). NEVER call create_task for an existing task.\\n- To create a BRAND NEW task → ask for title + assignee (who to assign to). Deadline and priority are optional. Once you have title and know the assignee (or confirmed it defaults to the current user), call create_task immediately. Do NOT show a JSON block or add an extra confirmation step.\\n- If a previous message said a task was \"not found\", try update_task with task_title anyway before giving up.';\nconst roleNote = isAdmin\n  ? '\\n\\nYou have *admin/manager* access:\\n- list_tasks returns ALL org tasks (combined list, any member)\\n- team_attendance shows today team status\\n- list_pending_leaves shows leaves awaiting your review\\n- approve_leave_request / reject_leave_request to act on them\\n- create_task can assign to any team member'\n  : '';\n\nconst messages = [\n  { role: 'system', content: ctx.system_prompt + taskRules + roleNote },\n  ...history,\n  { role: 'user', content: ctx.message }\n];\n\nasync function groqCall(msgs, toolChoice) {\n  const keys = [groqKey, groqKey2, groqKey3].filter(Boolean);\n  let lastErr;\n  for (const k of keys) {\n    try {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.groq.com/openai/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + k, 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          model: 'llama-3.3-70b-versatile',\n          messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3\n        })\n      });\n    } catch(e) {\n      const code = String(e.message);\n      if (code.includes('429') || code.includes('400')) { lastErr = e; continue; }\n      throw e;\n    }\n  }\n  throw lastErr;\n}\n\nasync function llmCall(msgs, toolChoice) {\n  try {\n    return await groqCall(msgs, toolChoice);\n  } catch(e) {\n    if (orKey) {\n      return await helpers.httpRequest({\n        method: 'POST',\n        url: 'https://openrouter.ai/api/v1/chat/completions',\n        headers: { Authorization: 'Bearer ' + orKey, 'Content-Type': 'application/json', 'HTTP-Referer': 'https://whatsapp-hrbot.vercel.app' },\n        body: JSON.stringify({ model: 'meta-llama/llama-3.3-70b-instruct', messages: msgs, tools, tool_choice: toolChoice || 'auto', max_tokens: 1024, temperature: 0.3 })\n      });\n    }\n    throw e;\n  }\n}\n\nlet resp   = await llmCall(messages, isGreeting ? 'none' : 'auto');\nlet choice = resp.choices[0];\nlet iters  = 0;\n\nwhile (!isGreeting && choice.finish_reason === 'tool_calls' && iters < 5) {\n  const toolCalls = choice.message.tool_calls || [];\n  messages.push(choice.message);\n  for (const tc of toolCalls) {\n    let toolResult;\n    try { toolResult = await runTool(tc.function.name, JSON.parse(tc.function.arguments || '{}')); }\n    catch(e) { toolResult = { error: e.message }; }\n    messages.push({ role: 'tool', tool_call_id: tc.id, content: JSON.stringify(toolResult) });\n  }\n  resp   = await llmCall(messages);\n  choice = resp.choices[0];\n  iters++;\n}\n\n// Strip leaked tool-call JSON or trailing \"Here's the task creation JSON:\" blurbs\nlet output = (choice.message.content || '').trim();\noutput = output.replace(/\\{[\\s\\S]*?\"name\"[\\s\\S]*?\"parameters\"[\\s\\S]*?\\}\\s*$/, '').trim();\noutput = output.replace(/here'?s the .*?json:?\\s*$/i, '').trim();\nreturn [{ json: { output } }];\n"
        },
        "id": "ai-agent",
        "name": "AI Agent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          380
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/wa_bot_sessions",
          "method": "POST",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ wa_number: $('Build Context').item.json.from, messages: JSON.parse($('Build Context').item.json.history ?? '[]').concat([ { role: 'user', content: $('Build Context').item.json.message }, { role: 'assistant', content: $json.output } ]).slice(-20), updated_at: new Date().toISOString() }) }}"
        },
        "id": "save-history",
        "name": "Save History",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          380
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://whatsapp-hrbot.vercel.app/api/wa/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 0yxnvS8z3lpb2AG4Ljjx8TynSI0edL7NKNGJnKKnyhvO3OFK"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ to: $(\"Build Context\").item.json.from, text: $json.output, organization_id: $(\"Build Context\").item.json.org_id }) }}",
          "options": {}
        },
        "id": "send-wa",
        "name": "Send WA Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2000,
          380
        ]
      },
      {
        "parameters": {
          "jsCode": "const isGreeting = $('Build Context').item.json.is_greeting;\nconst aiOutput = $('AI Agent').item.json.output;\n\nif (!isGreeting) {\n  return [{ json: { output: aiOutput } }];\n}\n\n// Extract the pre-written greeting from the system prompt\nconst sp = $('Build Context').item.json.system_prompt;\nconst marker = 'Do NOT call any tools. Do NOT add anything:\\n\\n';\nconst idx = sp.indexOf(marker);\nconst greetText = idx >= 0\n  ? sp.substring(idx + marker.length)\n  : `Hello ${$('Build Context').item.json.user_name}! I am *HRBot*, your AI HR assistant.\n\n*Here is what I can help you with:*\n- *Tasks* - list, create, or update tasks\n- *Attendance* - check in/out, view history\n- *Leaves* - check balance, apply for leave\n- *Daily briefing* - today's summary\n- *Team attendance* - admin only\n\nWhat would you like to do?`;\n\nreturn [{ json: { output: greetText } }];"
        },
        "id": "format-reply",
        "name": "Format Reply",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1780,
          380
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "groq-key",
                "name": "groq_key",
                "value": "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",
                "type": "string"
              },
              {
                "id": "sb-url",
                "name": "supabase_url",
                "value": "={{ $env.SUPABASE_URL }}",
                "type": "string"
              },
              {
                "id": "sb-key",
                "name": "supabase_key",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE }}",
                "type": "string"
              },
              {
                "id": "groq_key_2",
                "name": "groq_key_2",
                "value": "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",
                "type": "string"
              },
              {
                "id": "openrouter-key",
                "name": "openrouter_key",
                "value": "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",
                "type": "string"
              },
              {
                "id": "groq_key_3",
                "name": "groq_key_3",
                "value": "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",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "secrets-node-001",
        "name": "Secrets",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          380
        ]
      }
    ],
    "connections": {
      "WA Webhook": {
        "main": [
          [
            {
              "node": "Respond 200",
              "type": "main",
              "index": 0
            },
            {
              "node": "Parse Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Payload": {
        "main": [
          [
            {
              "node": "Fetch User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch User": {
        "main": [
          [
            {
              "node": "Fetch History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch History": {
        "main": [
          [
            {
              "node": "Build Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Context": {
        "main": [
          [
            {
              "node": "Secrets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Save History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save History": {
        "main": [
          [
            {
              "node": "Format Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Reply": {
        "main": [
          [
            {
              "node": "Send WA Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Secrets": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Rahul Matharu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-23T11:46:33.080Z",
        "id": 102,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "ca2a0dc2-7b90-4ede-bc8c-b7853c80aa47",
        "event": "deactivated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      },
      {
        "createdAt": "2026-06-23T11:46:34.078Z",
        "id": 103,
        "workflowId": "NZsKomyCVzVMHqxp",
        "versionId": "ca2a0dc2-7b90-4ede-bc8c-b7853c80aa47",
        "event": "activated",
        "userId": "2ab45e88-48e5-4ae6-a393-d173e7ee85fa"
      }
    ]
  }
}